In [85]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pylab as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")
import scipy as sp
from scipy import stats

from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, roc_auc_score
from sklearn.model_selection import StratifiedKFold, cross_val_score, KFold
from xgboost import XGBClassifier
import xgboost as xgb
import datetime
from sklearn.preprocessing import LabelEncoder

import os
import gc
import random

%matplotlib inline

pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
pd.options.display.max_colwidth = 1000

In [2]:
%%time
path = "I:/ML Datasets/IEEE Fradulent/train_identity.csv"
train_identity = pd.read_csv(path)

path = "I:/ML Datasets/IEEE Fradulent/train_transaction.csv"
train_transaction = pd.read_csv(path)

path = "I:/ML Datasets/IEEE Fradulent/test_identity.csv"
test_identity= pd.read_csv(path)

path = "I:/ML Datasets/IEEE Fradulent/test_transaction.csv"
test_transaction = pd.read_csv(path)

train = train_transaction.merge(train_identity, how='left', on='TransactionID')
test = test_transaction.merge(test_identity, how='left', on='TransactionID')

#path = "/content/drive/My Drive/Dataset/IEEE Fradulent/sample_submission.csv"
#df_submission = pd.read_csv(path)

Wall time: 1min 24s

In [3]:
ccols = [f'C{i}' for i in range(1,15)] ## Creating columns C1,C2....C14
dcols = [f'D{i}' for i in range(1,16)] ## Creating columns D1,D2....D14

cols = [
    'TransactionID','isFraud','TransactionDT','TransactionAmt','ProductCD',
    'card1','card2','card3','card4','card5','card6',
    'addr1','addr2','dist1','dist2',
    'P_emaildomain','R_emaildomain',
    
]

cols += dcols
cols += ccols

In [5]:
test[ccols].isna().sum()  ## Finding all those C columns that have Na values and replacing them with 0's//
#Note: the train columns (C1-C14) have no Nan values and therefore they dont have to be changed

C1        3
C2        3
C3        3
C4        3
C5        3
C6        3
C7        3
C8        3
C9        3
C10       3
C11       3
C12       3
C13    4748
C14       3
dtype: int64

In [9]:
test[ccols] = test[ccols].fillna(0)
test[ccols].isna().sum()

C1     0
C2     0
C3     0
C4     0
C5     0
C6     0
C7     0
C8     0
C9     0
C10    0
C11    0
C12    0
C13    0
C14    0
dtype: int64

In [10]:
## Had to rename these columns because there were differnt in the test and the train columns

test =  test.rename(columns = {'id-01':'id_01', 'id-02':'id_02', 'id-03':'id_03', 'id-04':'id_04', 'id-05':'id_05', 'id-06':'id_06','id-07':'id_07','id-08':'id_08',
     'id-09':'id_09','id-10':'id_10','id-11':'id_11', 'id-12':'id_12', 'id-13':'id_13', 'id-14':'id_14', 'id-15':'id_15', 'id-16':'id_16',
       'id-17':'id_17', 'id-18':'id_18','id-19':'id_19', 'id-20':'id_20', 'id-21':'id_21','id-22':'id_22','id-23':'id_23', 'id-24':'id_24',
      'id-25':'id_25', 'id-26':'id_26', 'id-27':'id_27', 'id-28':'id_28', 'id-29':'id_29','id-30':'id_30','id-31':'id_31','id-32':'id_32',
      'id-33':'id_33','id-34':'id_34', 'id-35':'id_35','id-36':'id_36','id-37':'id_37','id-38':'id_38'})

In [11]:
test['isFraud'] = 0
#test = test[train.columns]

train_test = pd.concat([train, test], axis=0)
print(train_test.shape)

del train, test
gc.collect()

(1097231, 434)

105

As to the reason why we are using this function to reduce memory usage there is a briliiant article on this in the website
https://www.kaggle.com/alexeykupershtokh/safe-memory-reduction

In [12]:
# safe downcast
def sd(col, max_loss_limit=0.001, avg_loss_limit=0.001, na_loss_limit=0, n_uniq_loss_limit=0, fillna=0):
    """
    max_loss_limit - don't allow any float to lose precision more than this value. Any values are ok for GBT algorithms as long as you don't unique values.
                     See https://en.wikipedia.org/wiki/Half-precision_floating-point_format#Precision_limitations_on_decimal_values_in_[0,_1]
    avg_loss_limit - same but calculates avg throughout the series.
    na_loss_limit - not really useful.
    n_uniq_loss_limit - very important parameter. If you have a float field with very high cardinality(high number of unique
    values) you can set this value to something like n_records * 0.01 in order to allow some field relaxing.
    """
    is_float = str(col.dtypes)[:5] == 'float'
    na_count = col.isna().sum()
    n_uniq = col.nunique(dropna=False)
    try_types = ['float16', 'float32']

    if na_count <= na_loss_limit:
        try_types = ['int8', 'int16', 'float16', 'int32', 'float32']

    for type in try_types:
        col_tmp = col

        # float to int conversion => try to round to minimize casting error
        if is_float and (str(type)[:3] == 'int'):
            col_tmp = col_tmp.copy().fillna(fillna).round()

        col_tmp = col_tmp.astype(type)
        max_loss = (col_tmp - col).abs().max()
        avg_loss = (col_tmp - col).abs().mean()
        na_loss = np.abs(na_count - col_tmp.isna().sum())
        n_uniq_loss = np.abs(n_uniq - col_tmp.nunique(dropna=False))

        if max_loss <= max_loss_limit and avg_loss <= avg_loss_limit and na_loss <= na_loss_limit and n_uniq_loss <= n_uniq_loss_limit:
            return col_tmp

    # field can't be converted
    return col

In [14]:
def reduce_mem_usage_sd(df, deep=True, verbose=False, obj_to_cat=False):
    numerics = ['int16', 'uint16', 'int32', 'uint32', 'int64', 'uint64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage(deep=deep).sum() / 1024 ** 2
    for col in df.columns:
        col_type = df[col].dtypes

        # collect stats
        na_count = df[col].isna().sum()
        n_uniq = df[col].nunique(dropna=False)
        
        # numerics
        if col_type in numerics:
            df[col] = sd(df[col])

        # strings
        if (col_type == 'object') and obj_to_cat:
            df[col] = df[col].astype('category')
        
        if verbose:
            print(f'Column {col}: {col_type} -> {df[col].dtypes}, na_count={na_count}, n_uniq={n_uniq}')
        new_na_count = df[col].isna().sum()
        if (na_count != new_na_count):
            print(f'Warning: column {col}, {col_type} -> {df[col].dtypes} lost na values. Before: {na_count}, after: {new_na_count}')
        new_n_uniq = df[col].nunique(dropna=False)
        if (n_uniq != new_n_uniq):
            print(f'Warning: column {col}, {col_type} -> {df[col].dtypes} lost unique values. Before: {n_uniq}, after: {new_n_uniq}')

    end_mem = df.memory_usage(deep=deep).sum() / 1024 ** 2
    percent = 100 * (start_mem - end_mem) / start_mem
    if verbose:
        print('Mem. usage decreased from {:5.2f} Mb to {:5.2f} Mb ({:.1f}% reduction)'.format(start_mem, end_mem, percent))
    return df

In [15]:
train_test = reduce_mem_usage_sd(train_test, verbose=True)

Column C1: float64 -> int16, na_count=0, n_uniq=2187
Column C10: float64 -> int16, na_count=0, n_uniq=1387
Column C11: float64 -> int16, na_count=0, n_uniq=1834
Column C12: float64 -> int16, na_count=0, n_uniq=1530
Column C13: float64 -> int16, na_count=0, n_uniq=1691
Column C14: float64 -> int16, na_count=0, n_uniq=1150
Column C2: float64 -> int16, na_count=0, n_uniq=1784
Column C3: float64 -> int8, na_count=0, n_uniq=32
Column C4: float64 -> int16, na_count=0, n_uniq=1532
Column C5: float64 -> int16, na_count=0, n_uniq=353
Column C6: float64 -> int16, na_count=0, n_uniq=1574
Column C7: float64 -> int16, na_count=0, n_uniq=1335
Column C8: float64 -> int16, na_count=0, n_uniq=1419
Column C9: float64 -> int16, na_count=0, n_uniq=360
Column D1: float64 -> float16, na_count=7300, n_uniq=643
Column D10: float64 -> float16, na_count=88567, n_uniq=1076
Column D11: float64 -> float16, na_count=455805, n_uniq=888
Column D12: float64 -> float16, na_count=963260, n_uniq=869
Column D13: float64 -> float16, na_count=911895, n_uniq=828
Column D14: float64 -> float16, na_count=919850, n_uniq=1037
Column D15: float64 -> float16, na_count=101182, n_uniq=1092
Column D2: float64 -> float16, na_count=515566, n_uniq=643
Column D3: float64 -> float16, na_count=466020, n_uniq=889
Column D4: float64 -> float16, na_count=245773, n_uniq=1070
Column D5: float64 -> float16, na_count=534216, n_uniq=962
Column D6: float64 -> float16, na_count=899261, n_uniq=1077
Column D7: float64 -> float16, na_count=998181, n_uniq=906
Column D8: float64 -> float32, na_count=947967, n_uniq=17083
Column D9: float64 -> float16, na_count=947967, n_uniq=25
Column DeviceInfo: object -> object, na_count=863508, n_uniq=2800
Column DeviceType: object -> object, na_count=819490, n_uniq=3
Column M1: object -> object, na_count=447739, n_uniq=3
Column M2: object -> object, na_count=447739, n_uniq=3
Column M3: object -> object, na_count=447739, n_uniq=3
Column M4: object -> object, na_count=519189, n_uniq=4
Column M5: object -> object, na_count=660114, n_uniq=3
Column M6: object -> object, na_count=328299, n_uniq=3
Column M7: object -> object, na_count=581283, n_uniq=3
Column M8: object -> object, na_count=581256, n_uniq=3
Column M9: object -> object, na_count=581256, n_uniq=3
Column P_emaildomain: object -> object, na_count=163648, n_uniq=61
Column ProductCD: object -> object, na_count=0, n_uniq=5
Column R_emaildomain: object -> object, na_count=824070, n_uniq=61
Column TransactionAmt: float64 -> float32, na_count=0, n_uniq=29806
Column TransactionDT: int64 -> int32, na_count=0, n_uniq=1068035
Column TransactionID: int64 -> int32, na_count=0, n_uniq=1097231
Column V1: float64 -> float16, na_count=455805, n_uniq=3
Column V10: float64 -> float16, na_count=455805, n_uniq=7
Column V100: float64 -> float16, na_count=314, n_uniq=32
Column V101: float64 -> float16, na_count=314, n_uniq=871
Column V102: float64 -> float16, na_count=314, n_uniq=1286
Column V103: float64 -> float16, na_count=314, n_uniq=929
Column V104: float64 -> float16, na_count=314, n_uniq=61
Column V105: float64 -> float16, na_count=314, n_uniq=101
Column V106: float64 -> float16, na_count=314, n_uniq=82
Column V107: float64 -> float16, na_count=314, n_uniq=3
Column V108: float64 -> float16, na_count=314, n_uniq=10
Column V109: float64 -> float16, na_count=314, n_uniq=10
Column V11: float64 -> float16, na_count=455805, n_uniq=9
Column V110: float64 -> float16, na_count=314, n_uniq=10
Column V111: float64 -> float16, na_count=314, n_uniq=11
Column V112: float64 -> float16, na_count=314, n_uniq=11
Column V113: float64 -> float16, na_count=314, n_uniq=11
Column V114: float64 -> float16, na_count=314, n_uniq=11
Column V115: float64 -> float16, na_count=314, n_uniq=11
Column V116: float64 -> float16, na_count=314, n_uniq=11
Column V117: float64 -> float16, na_count=314, n_uniq=5
Column V118: float64 -> float16, na_count=314, n_uniq=5
Column V119: float64 -> float16, na_count=314, n_uniq=5
Column V12: float64 -> float16, na_count=88662, n_uniq=6
Column V120: float64 -> float16, na_count=314, n_uniq=6
Column V121: float64 -> float16, na_count=314, n_uniq=6
Column V122: float64 -> float16, na_count=314, n_uniq=6
Column V123: float64 -> float16, na_count=314, n_uniq=15
Column V124: float64 -> float16, na_count=314, n_uniq=15
Column V125: float64 -> float16, na_count=314, n_uniq=15
Column V126: float64 -> float32, na_count=314, n_uniq=15136
Column V127: float64 -> float32, na_count=314, n_uniq=33547
Column V128: float64 -> float32, na_count=314, n_uniq=20511
Column V129: float64 -> float32, na_count=314, n_uniq=2639
Column V13: float64 -> float16, na_count=88662, n_uniq=8
Column V130: float64 -> float32, na_count=314, n_uniq=16251
Column V131: float64 -> float32, na_count=314, n_uniq=5790
Column V132: float64 -> float32, na_count=314, n_uniq=9304
Column V133: float64 -> float32, na_count=314, n_uniq=13669
Column V134: float64 -> float32, na_count=314, n_uniq=11315
Column V135: float64 -> float32, na_count=314, n_uniq=6276
Column V136: float64 -> float32, na_count=314, n_uniq=8208
Column V137: float64 -> float32, na_count=314, n_uniq=7139
Column V138: float64 -> float16, na_count=939501, n_uniq=24
Column V139: float64 -> float16, na_count=939501, n_uniq=35
Column V14: float64 -> float16, na_count=88662, n_uniq=3
Column V140: float64 -> float16, na_count=939501, n_uniq=61
Column V141: float64 -> float16, na_count=939501, n_uniq=8
Column V142: float64 -> float16, na_count=939501, n_uniq=13
Column V143: float64 -> float16, na_count=939225, n_uniq=871
Column V144: float64 -> float16, na_count=939225, n_uniq=87
Column V145: float64 -> float16, na_count=939225, n_uniq=299
Column V146: float64 -> float16, na_count=939501, n_uniq=26
Column V147: float64 -> float16, na_count=939501, n_uniq=28
Column V148: float64 -> float16, na_count=939501, n_uniq=22
Column V149: float64 -> float16, na_count=939501, n_uniq=22
Column V15: float64 -> float16, na_count=88662, n_uniq=14
Column V150: float64 -> float32, na_count=939225, n_uniq=3294
Column V151: float64 -> float16, na_count=939225, n_uniq=59
Column V152: float64 -> float16, na_count=939225, n_uniq=45
Column V153: float64 -> float16, na_count=939501, n_uniq=20
Column V154: float64 -> float16, na_count=939501, n_uniq=20
Column V155: float64 -> float16, na_count=939501, n_uniq=26
Column V156: float64 -> float16, na_count=939501, n_uniq=26
Column V157: float64 -> float16, na_count=939501, n_uniq=26
Column V158: float64 -> float16, na_count=939501, n_uniq=26
Column V159: float64 -> float32, na_count=939225, n_uniq=12643
Column V16: float64 -> float16, na_count=88662, n_uniq=24
Column V160: float64 -> float32, na_count=939225, n_uniq=17183
Column V161: float64 -> float32, na_count=939501, n_uniq=106
Column V162: float64 -> float32, na_count=939501, n_uniq=290
Column V163: float64 -> float32, na_count=939501, n_uniq=154
Column V164: float64 -> float32, na_count=939225, n_uniq=2751
Column V165: float64 -> float32, na_count=939225, n_uniq=3800
Column V166: float64 -> float32, na_count=939225, n_uniq=2262
Column V167: float64 -> float16, na_count=820866, n_uniq=874
Column V168: float64 -> float16, na_count=820866, n_uniq=966
Column V169: float64 -> float16, na_count=821037, n_uniq=41
Column V17: float64 -> float16, na_count=88662, n_uniq=17
Column V170: float64 -> float16, na_count=821037, n_uniq=65
Column V171: float64 -> float16, na_count=821037, n_uniq=70
Column V172: float64 -> float16, na_count=820866, n_uniq=39
Column V173: float64 -> float16, na_count=820866, n_uniq=11
Column V174: float64 -> float16, na_count=821037, n_uniq=10
Column V175: float64 -> float16, na_count=821037, n_uniq=24
Column V176: float64 -> float16, na_count=820866, n_uniq=241
Column V177: float64 -> float16, na_count=820866, n_uniq=863
Column V178: float64 -> float16, na_count=820866, n_uniq=1237
Column V179: float64 -> float16, na_count=820866, n_uniq=922
Column V18: float64 -> float16, na_count=88662, n_uniq=17
Column V180: float64 -> float16, na_count=821037, n_uniq=181
Column V181: float64 -> float16, na_count=820866, n_uniq=87
Column V182: float64 -> float16, na_count=820866, n_uniq=127
Column V183: float64 -> float16, na_count=820866, n_uniq=108

Column V184: float64 -> float16, na_count=821037, n_uniq=18
Column V185: float64 -> float16, na_count=821037, n_uniq=33
Column V186: float64 -> float16, na_count=820866, n_uniq=41
Column V187: float64 -> float16, na_count=820866, n_uniq=216
Column V188: float64 -> float16, na_count=821037, n_uniq=46
Column V189: float64 -> float16, na_count=821037, n_uniq=46
Column V19: float64 -> float16, na_count=88662, n_uniq=14
Column V190: float64 -> float16, na_count=820866, n_uniq=226
Column V191: float64 -> float16, na_count=820866, n_uniq=23
Column V192: float64 -> float16, na_count=820866, n_uniq=46
Column V193: float64 -> float16, na_count=820866, n_uniq=39
Column V194: float64 -> float16, na_count=821037, n_uniq=9
Column V195: float64 -> float16, na_count=821037, n_uniq=20
Column V196: float64 -> float16, na_count=820866, n_uniq=43
Column V197: float64 -> float16, na_count=821037, n_uniq=16
Column V198: float64 -> float16, na_count=821037, n_uniq=30
Column V199: float64 -> float16, na_count=820866, n_uniq=226
Column V2: float64 -> float16, na_count=455805, n_uniq=13
Column V20: float64 -> float16, na_count=88662, n_uniq=24
Column V200: float64 -> float16, na_count=821037, n_uniq=49
Column V201: float64 -> float16, na_count=821037, n_uniq=57
Column V202: float64 -> float32, na_count=820866, n_uniq=18619
Column V203: float64 -> float32, na_count=820866, n_uniq=26291
Column V204: float64 -> float32, na_count=820866, n_uniq=22356
Column V205: float64 -> float32, na_count=820866, n_uniq=3658
Column V206: float64 -> float32, na_count=820866, n_uniq=2968
Column V207: float64 -> float32, na_count=820866, n_uniq=5254
Column V208: float64 -> float32, na_count=821037, n_uniq=4081
Column V209: float64 -> float32, na_count=821037, n_uniq=5927
Column V21: float64 -> float16, na_count=88662, n_uniq=7
Column V210: float64 -> float32, na_count=821037, n_uniq=4675
Column V211: float64 -> float32, na_count=820866, n_uniq=13032
Column V212: float64 -> float32, na_count=820866, n_uniq=15640
Column V213: float64 -> float32, na_count=820866, n_uniq=14583
Column V214: float64 -> float32, na_count=820866, n_uniq=3817
Column V215: float64 -> float32, na_count=820866, n_uniq=4665
Column V216: float64 -> float32, na_count=820866, n_uniq=4196
Column V217: float64 -> float16, na_count=840073, n_uniq=305
Column V218: float64 -> float16, na_count=840073, n_uniq=402
Column V219: float64 -> float16, na_count=840073, n_uniq=380
Column V22: float64 -> float16, na_count=88662, n_uniq=10
Column V220: float64 -> float16, na_count=818499, n_uniq=45
Column V221: float64 -> float16, na_count=818499, n_uniq=86
Column V222: float64 -> float16, na_count=818499, n_uniq=294
Column V223: float64 -> float16, na_count=840073, n_uniq=18
Column V224: float64 -> float16, na_count=840073, n_uniq=92
Column V225: float64 -> float16, na_count=840073, n_uniq=38
Column V226: float64 -> float16, na_count=840073, n_uniq=114
Column V227: float64 -> float16, na_count=818499, n_uniq=69
Column V228: float64 -> float16, na_count=840073, n_uniq=241
Column V229: float64 -> float16, na_count=840073, n_uniq=264
Column V23: float64 -> float16, na_count=88662, n_uniq=17
Column V230: float64 -> float16, na_count=840073, n_uniq=264
Column V231: float64 -> float16, na_count=840073, n_uniq=295
Column V232: float64 -> float16, na_count=840073, n_uniq=339
Column V233: float64 -> float16, na_count=840073, n_uniq=334
Column V234: float64 -> float16, na_count=818499, n_uniq=309
Column V235: float64 -> float16, na_count=840073, n_uniq=25
Column V236: float64 -> float16, na_count=840073, n_uniq=56
Column V237: float64 -> float16, na_count=840073, n_uniq=41
Column V238: float64 -> float16, na_count=818499, n_uniq=25
Column V239: float64 -> float16, na_count=818499, n_uniq=25
Column V24: float64 -> float16, na_count=88662, n_uniq=27
Column V240: float64 -> float16, na_count=840073, n_uniq=8
Column V241: float64 -> float16, na_count=840073, n_uniq=7
Column V242: float64 -> float16, na_count=840073, n_uniq=29
Column V243: float64 -> float16, na_count=840073, n_uniq=59
Column V244: float64 -> float16, na_count=840073, n_uniq=35
Column V245: float64 -> float16, na_count=818499, n_uniq=70
Column V246: float64 -> float16, na_count=840073, n_uniq=226
Column V247: float64 -> float16, na_count=840073, n_uniq=20
Column V248: float64 -> float16, na_count=840073, n_uniq=32
Column V249: float64 -> float16, na_count=840073, n_uniq=24
Column V25: float64 -> float16, na_count=88662, n_uniq=14
Column V250: float64 -> float16, na_count=818499, n_uniq=20
Column V251: float64 -> float16, na_count=818499, n_uniq=20
Column V252: float64 -> float16, na_count=840073, n_uniq=26
Column V253: float64 -> float16, na_count=840073, n_uniq=106
Column V254: float64 -> float16, na_count=840073, n_uniq=56
Column V255: float64 -> float16, na_count=818499, n_uniq=53
Column V256: float64 -> float16, na_count=818499, n_uniq=57
Column V257: float64 -> float16, na_count=840073, n_uniq=226
Column V258: float64 -> float16, na_count=840073, n_uniq=271
Column V259: float64 -> float16, na_count=818499, n_uniq=78
Column V26: float64 -> float16, na_count=88662, n_uniq=24
Column V260: float64 -> float16, na_count=840073, n_uniq=16
Column V261: float64 -> float16, na_count=840073, n_uniq=74
Column V262: float64 -> float16, na_count=840073, n_uniq=33
Column V263: float64 -> float32, na_count=840073, n_uniq=18232
Column V264: float64 -> float32, na_count=840073, n_uniq=23850
Column V265: float64 -> float32, na_count=840073, n_uniq=20862
Column V266: float64 -> float32, na_count=840073, n_uniq=3614
Column V267: float64 -> float32, na_count=840073, n_uniq=6124
Column V268: float64 -> float32, na_count=840073, n_uniq=4564
Column V269: float64 -> float32, na_count=840073, n_uniq=227
Column V27: float64 -> float16, na_count=88662, n_uniq=9
Column V270: float64 -> float32, na_count=818499, n_uniq=3820
Column V271: float64 -> float32, na_count=818499, n_uniq=4798
Column V272: float64 -> float32, na_count=818499, n_uniq=4160
Column V273: float64 -> float32, na_count=840073, n_uniq=12866
Column V274: float64 -> float32, na_count=840073, n_uniq=15112
Column V275: float64 -> float32, na_count=840073, n_uniq=14144
Column V276: float64 -> float32, na_count=840073, n_uniq=3741
Column V277: float64 -> float32, na_count=840073, n_uniq=4209
Column V278: float64 -> float32, na_count=840073, n_uniq=3961
Column V279: float64 -> float16, na_count=15, n_uniq=882
Column V28: float64 -> float16, na_count=88662, n_uniq=9
Column V280: float64 -> float16, na_count=15, n_uniq=976
Column V281: float64 -> float16, na_count=7300, n_uniq=32
Column V282: float64 -> float16, na_count=7300, n_uniq=65
Column V283: float64 -> float16, na_count=7300, n_uniq=70
Column V284: float64 -> float16, na_count=15, n_uniq=14
Column V285: float64 -> float16, na_count=15, n_uniq=97
Column V286: float64 -> float16, na_count=15, n_uniq=10
Column V287: float64 -> float16, na_count=15, n_uniq=33
Column V288: float64 -> float16, na_count=7300, n_uniq=12
Column V289: float64 -> float16, na_count=7300, n_uniq=14
Column V29: float64 -> float16, na_count=88662, n_uniq=7
Column V290: float64 -> float16, na_count=15, n_uniq=62
Column V291: float64 -> float16, na_count=15, n_uniq=316
Column V292: float64 -> float16, na_count=15, n_uniq=193
Column V293: float64 -> float16, na_count=15, n_uniq=871
Column V294: float64 -> float16, na_count=15, n_uniq=1287
Column V295: float64 -> float16, na_count=15, n_uniq=929
Column V296: float64 -> float16, na_count=7300, n_uniq=181
Column V297: float64 -> float16, na_count=15, n_uniq=87
Column V298: float64 -> float16, na_count=15, n_uniq=127
Column V299: float64 -> float16, na_count=15, n_uniq=108
Column V3: float64 -> float16, na_count=455805, n_uniq=13
Column V30: float64 -> float16, na_count=88662, n_uniq=10
Column V300: float64 -> float16, na_count=7300, n_uniq=16
Column V301: float64 -> float16, na_count=7300, n_uniq=16
Column V302: float64 -> float16, na_count=15, n_uniq=18
Column V303: float64 -> float16, na_count=15, n_uniq=22
Column V304: float64 -> float16, na_count=15, n_uniq=19
Column V305: float64 -> float16, na_count=15, n_uniq=3
Column V306: float64 -> float32, na_count=15, n_uniq=25279

Column V307: float64 -> float32, na_count=15, n_uniq=54582
Column V308: float64 -> float32, na_count=15, n_uniq=35249
Column V309: float64 -> float32, na_count=15, n_uniq=6164
Column V31: float64 -> float16, na_count=88662, n_uniq=14
Column V310: float64 -> float32, na_count=15, n_uniq=26505
Column V311: float64 -> float32, na_count=15, n_uniq=4609
Column V312: float64 -> float32, na_count=15, n_uniq=11367
Column V313: float64 -> float32, na_count=7300, n_uniq=8055
Column V314: float64 -> float32, na_count=7300, n_uniq=16327
Column V315: float64 -> float32, na_count=7300, n_uniq=10174
Column V316: float64 -> float32, na_count=15, n_uniq=14985
Column V317: float64 -> float32, na_count=15, n_uniq=22593
Column V318: float64 -> float32, na_count=15, n_uniq=18608
Column V319: float64 -> float32, na_count=15, n_uniq=8173
Column V32: float64 -> float16, na_count=88662, n_uniq=24
Column V320: float64 -> float32, na_count=15, n_uniq=10834
Column V321: float64 -> float32, na_count=15, n_uniq=9385
Column V322: float64 -> float16, na_count=938449, n_uniq=882
Column V323: float64 -> float16, na_count=938449, n_uniq=1412
Column V324: float64 -> float16, na_count=938449, n_uniq=977
Column V325: float64 -> float16, na_count=938449, n_uniq=14
Column V326: float64 -> float16, na_count=938449, n_uniq=46
Column V327: float64 -> float16, na_count=938449, n_uniq=33
Column V328: float64 -> float16, na_count=938449, n_uniq=87
Column V329: float64 -> float16, na_count=938449, n_uniq=127
Column V33: float64 -> float16, na_count=88662, n_uniq=14
Column V330: float64 -> float16, na_count=938449, n_uniq=108
Column V331: float64 -> float32, na_count=938449, n_uniq=2093
Column V332: float64 -> float32, na_count=938449, n_uniq=3234
Column V333: float64 -> float32, na_count=938449, n_uniq=2492
Column V334: float64 -> float32, na_count=938449, n_uniq=221
Column V335: float64 -> float32, na_count=938449, n_uniq=1022
Column V336: float64 -> float32, na_count=938449, n_uniq=505
Column V337: float64 -> float32, na_count=938449, n_uniq=438
Column V338: float64 -> float32, na_count=938449, n_uniq=795
Column V339: float64 -> float32, na_count=938449, n_uniq=625
Column V34: float64 -> float16, na_count=88662, n_uniq=24
Column V35: float64 -> float16, na_count=245823, n_uniq=6
Column V36: float64 -> float16, na_count=245823, n_uniq=8
Column V37: float64 -> float16, na_count=245823, n_uniq=56
Column V38: float64 -> float16, na_count=245823, n_uniq=56
Column V39: float64 -> float16, na_count=245823, n_uniq=23
Column V4: float64 -> float16, na_count=455805, n_uniq=11
Column V40: float64 -> float16, na_count=245823, n_uniq=26
Column V41: float64 -> float16, na_count=245823, n_uniq=3
Column V42: float64 -> float16, na_count=245823, n_uniq=10
Column V43: float64 -> float16, na_count=245823, n_uniq=13
Column V44: float64 -> float16, na_count=245823, n_uniq=50
Column V45: float64 -> float16, na_count=245823, n_uniq=71
Column V46: float64 -> float16, na_count=245823, n_uniq=10
Column V47: float64 -> float16, na_count=245823, n_uniq=14
Column V48: float64 -> float16, na_count=245823, n_uniq=7
Column V49: float64 -> float16, na_count=245823, n_uniq=9
Column V5: float64 -> float16, na_count=455805, n_uniq=12
Column V50: float64 -> float16, na_count=245823, n_uniq=9
Column V51: float64 -> float16, na_count=245823, n_uniq=10
Column V52: float64 -> float16, na_count=245823, n_uniq=13
Column V53: float64 -> float16, na_count=89995, n_uniq=7
Column V54: float64 -> float16, na_count=89995, n_uniq=9
Column V55: float64 -> float16, na_count=89995, n_uniq=51
Column V56: float64 -> float16, na_count=89995, n_uniq=53
Column V57: float64 -> float16, na_count=89995, n_uniq=8
Column V58: float64 -> float16, na_count=89995, n_uniq=12
Column V59: float64 -> float16, na_count=89995, n_uniq=18
Column V6: float64 -> float16, na_count=455805, n_uniq=15
Column V60: float64 -> float16, na_count=89995, n_uniq=19
Column V61: float64 -> float16, na_count=89995, n_uniq=8
Column V62: float64 -> float16, na_count=89995, n_uniq=12
Column V63: float64 -> float16, na_count=89995, n_uniq=10
Column V64: float64 -> float16, na_count=89995, n_uniq=12
Column V65: float64 -> float16, na_count=89995, n_uniq=3
Column V66: float64 -> float16, na_count=89995, n_uniq=10
Column V67: float64 -> float16, na_count=89995, n_uniq=12
Column V68: float64 -> float16, na_count=89995, n_uniq=9
Column V69: float64 -> float16, na_count=89995, n_uniq=7
Column V7: float64 -> float16, na_count=455805, n_uniq=15
Column V70: float64 -> float16, na_count=89995, n_uniq=10
Column V71: float64 -> float16, na_count=89995, n_uniq=8
Column V72: float64 -> float16, na_count=89995, n_uniq=12
Column V73: float64 -> float16, na_count=89995, n_uniq=10
Column V74: float64 -> float16, na_count=89995, n_uniq=12
Column V75: float64 -> float16, na_count=101245, n_uniq=7
Column V76: float64 -> float16, na_count=101245, n_uniq=9
Column V77: float64 -> float16, na_count=101245, n_uniq=82
Column V78: float64 -> float16, na_count=101245, n_uniq=82
Column V79: float64 -> float16, na_count=101245, n_uniq=9
Column V8: float64 -> float16, na_count=455805, n_uniq=13
Column V80: float64 -> float16, na_count=101245, n_uniq=21
Column V81: float64 -> float16, na_count=101245, n_uniq=21
Column V82: float64 -> float16, na_count=101245, n_uniq=9
Column V83: float64 -> float16, na_count=101245, n_uniq=9
Column V84: float64 -> float16, na_count=101245, n_uniq=12
Column V85: float64 -> float16, na_count=101245, n_uniq=12
Column V86: float64 -> float16, na_count=101245, n_uniq=82
Column V87: float64 -> float16, na_count=101245, n_uniq=82
Column V88: float64 -> float16, na_count=101245, n_uniq=3
Column V89: float64 -> float16, na_count=101245, n_uniq=9
Column V9: float64 -> float16, na_count=455805, n_uniq=13
Column V90: float64 -> float16, na_count=101245, n_uniq=7
Column V91: float64 -> float16, na_count=101245, n_uniq=10
Column V92: float64 -> float16, na_count=101245, n_uniq=9
Column V93: float64 -> float16, na_count=101245, n_uniq=9
Column V94: float64 -> float16, na_count=101245, n_uniq=4
Column V95: float64 -> float16, na_count=314, n_uniq=882
Column V96: float64 -> float16, na_count=314, n_uniq=1411
Column V97: float64 -> float16, na_count=314, n_uniq=977
Column V98: float64 -> float16, na_count=314, n_uniq=14
Column V99: float64 -> float16, na_count=314, n_uniq=90
Column addr1: float64 -> float16, na_count=131315, n_uniq=442
Column addr2: float64 -> float16, na_count=131315, n_uniq=94
Column card1: int64 -> int16, na_count=0, n_uniq=17091
Column card2: float64 -> float16, na_count=17587, n_uniq=502
Column card3: float64 -> float16, na_count=4567, n_uniq=134
Column card4: object -> object, na_count=4663, n_uniq=5
Column card5: float64 -> float16, na_count=8806, n_uniq=139
Column card6: object -> object, na_count=4578, n_uniq=5
Column dist1: float64 -> float32, na_count=643488, n_uniq=2739
Column dist2: float64 -> float32, na_count=1023168, n_uniq=2349
Column id_01: float64 -> float16, na_count=811091, n_uniq=90
Column id_02: float64 -> float32, na_count=819383, n_uniq=198052
Column id_03: float64 -> float16, na_count=964426, n_uniq=26
Column id_04: float64 -> float16, na_count=964426, n_uniq=17
Column id_05: float64 -> float16, na_count=825616, n_uniq=98
Column id_06: float64 -> float16, na_count=825616, n_uniq=102
Column id_07: float64 -> float16, na_count=1087017, n_uniq=93
Column id_08: float64 -> float16, na_count=1087017, n_uniq=98
Column id_09: float64 -> float16, na_count=947967, n_uniq=52
Column id_10: float64 -> float16, na_count=947967, n_uniq=68
Column id_11: float64 -> float32, na_count=819475, n_uniq=413
Column id_12: object -> object, na_count=811091, n_uniq=3
Column id_13: float64 -> float16, na_count=839625, n_uniq=56
Column id_14: float64 -> float16, na_count=945830, n_uniq=29
Column id_15: object -> object, na_count=819269, n_uniq=4
Column id_16: object -> object, na_count=842144, n_uniq=3
Column id_17: float64 -> float16, na_count=821896, n_uniq=128
Column id_18: float64 -> float16, na_count=1001243, n_uniq=20
Column id_19: float64 -> float16, na_count=822007, n_uniq=569
Column id_20: float64 -> float16, na_count=822337, n_uniq=548
Column id_21: float64 -> float16, na_count=1087013, n_uniq=735

Column id_22: float64 -> float16, na_count=1087000, n_uniq=36
Column id_23: object -> object, na_count=1087000, n_uniq=4
Column id_24: float64 -> float16, na_count=1087744, n_uniq=18
Column id_25: float64 -> float16, na_count=1087060, n_uniq=441
Column id_26: float64 -> float16, na_count=1087021, n_uniq=116
Column id_27: object -> object, na_count=1087000, n_uniq=3
Column id_28: object -> object, na_count=819475, n_uniq=3
Column id_29: object -> object, na_count=819475, n_uniq=3
Column id_30: object -> object, na_count=949007, n_uniq=88
Column id_31: object -> object, na_count=820324, n_uniq=173
Column id_32: float64 -> float16, na_count=948974, n_uniq=7
Column id_33: object -> object, na_count=953271, n_uniq=462
Column id_34: object -> object, na_count=947251, n_uniq=5
Column id_35: object -> object, na_count=819269, n_uniq=3
Column id_36: object -> object, na_count=819269, n_uniq=3
Column id_37: object -> object, na_count=819269, n_uniq=3
Column id_38: object -> object, na_count=819269, n_uniq=3
Column isFraud: int64 -> int8, na_count=0, n_uniq=2
Mem. usage decreased from 4819.73 Mb to 2465.33 Mb (48.8% reduction)

In [16]:
train = train_test[:590540]
test = train_test[590540:].drop('isFraud', axis=1)

del train_test
gc.collect()

train.shape, test.shape

((590540, 434), (506691, 433))

## Filling Cards Nans

So the whole idea behind the function count_unqies is to find out for each value card1 how many values does card2,card3,card4, card5 and card5 have in common. For example run the folowing the code seperately and 

unique_train = []
unique_test = []
for value in train['card1'].unique():
    unique_train.append(train['card2'][train['card1'] == value].value_counts().shape[0])
    
for value in test['card1'].unique():
    unique_test.append(test['card2'][test['card1'] == value].value_counts().shape[0])
    
pair_values_train = pd.Series(data=unique_train, index=train['card1'].unique())
pair_values_test = pd.Series(data=unique_test, index=test['card1'].unique())
pd.concat([pair_values_train.value_counts(), pair_values_test.value_counts()], axis=1).rename(columns={0: 'train', 1: 'test'})

pair_values_train[pair_values_train.values == 2]
train['card2'][train['card1'] == 2581].value_counts()

We could see the two distinct values for the value of card1 = 2581 in card2.

https://www.kaggle.com/grazder/filling-card-nans

In [63]:
def count_uniques(train, test, pair):
    unique_train = []
    unique_test = []

    for value in train[pair[0]].unique():
        unique_train.append(train[pair[1]][train[pair[0]] == value].value_counts().shape[0])

    for value in test[pair[0]].unique():
        unique_test.append(test[pair[1]][test[pair[0]] == value].value_counts().shape[0])

    pair_values_train = pd.Series(data=unique_train, index=train[pair[0]].unique())
    pair_values_test = pd.Series(data=unique_test, index=test[pair[0]].unique())
    
    return pair_values_train, pair_values_test

The fill_card_nans get the pair_values_train and pair_values_test from the count_uniques and then it fills all the values of card2,card3..card6 with each value that corresponds in card1. Note card1 values that have only a single occurence are taken here I guess. Becuase the for loop is taking into account values that have pair_values_train == 1. I am not sure about the occurences for if a card1 value has say 2-3 distinct values for card2,card3...card6

However we can see below that in the first part of the function we can see the amount isNan's in training and testing data in the range of 8933 and 8654. However it has been bought down to 4780, 5511, this corresponds to the idea of those unique values in the case of 2 occurences and 3 occurences

In [102]:
def fill_card_nans(train, test, pair_values_train, pair_values_test, pair):
    print(f'In train{[pair[1]]} there are {train[pair[1]].isna().sum()} NaNs' )
    print(f'In test{[pair[1]]} there are {test[pair[1]].isna().sum()} NaNs' )

    print('Filling train...')
    
    for value in pair_values_train[pair_values_train == 1].index:
        train[pair[1]][train[pair[0]] == value] = train[pair[1]][train[pair[0]] == value].value_counts().index[0]
        
    print('Filling test...')

    for value in pair_values_test[pair_values_test == 1].index:
        test[pair[1]][test[pair[0]] == value] = test[pair[1]][test[pair[0]] == value].value_counts().index[0]
        
    print(f'In train{[pair[1]]} there are {train[pair[1]].isna().sum()} NaNs' )
    print(f'In test{[pair[1]]} there are {test[pair[1]].isna().sum()} NaNs' )
    
    return train, test

The below function nans_distribtution gives the number of nan's values for each card2,card3...card6 returns the distrbution 
of the number of Nan's in 0,1 & 2 categoires.

In [103]:
def nans_distribution(train, test, unique_train, unique_test, pair):
    train_nans_per_category = []
    test_nans_per_category = []

    for value in unique_train.unique():
        train_nans_per_category.append(train[train[pair[0]].isin(list(unique_train[unique_train == value].index))][pair[1]].isna().sum())

    for value in unique_test.unique():
        test_nans_per_category.append(test[test[pair[0]].isin(list(unique_test[unique_test == value].index))][pair[1]].isna().sum())

    pair_values_train = pd.Series(data=train_nans_per_category, index=unique_train.unique())
    pair_values_test = pd.Series(data=test_nans_per_category, index=unique_test.unique())
    
    return pair_values_train, pair_values_test

In [104]:
%%time
for card in ['card2','card3','card4','card5','card6']:
    unique_values_train, unique_values_test = count_uniques(train, test, ('card1', card))
    train, test = fill_card_nans(train, test, unique_values_train, unique_values_test, ('card1', card))

In train['card2'] there are 8933 NaNs
In test['card2'] there are 8654 NaNs
Filling train...
Filling test...
In train['card2'] there are 4780 NaNs
In test['card2'] there are 5511 NaNs
In train['card3'] there are 1565 NaNs
In test['card3'] there are 3002 NaNs
Filling train...
Filling test...
In train['card3'] there are 17 NaNs
In test['card3'] there are 48 NaNs
In train['card4'] there are 1577 NaNs
In test['card4'] there are 3086 NaNs
Filling train...
Filling test...
In train['card4'] there are 27 NaNs
In test['card4'] there are 130 NaNs
In train['card5'] there are 4259 NaNs
In test['card5'] there are 4547 NaNs
Filling train...
Filling test...
In train['card5'] there are 939 NaNs
In test['card5'] there are 1449 NaNs
In train['card6'] there are 1571 NaNs
In test['card6'] there are 3007 NaNs
Filling train...
Filling test...
In train['card6'] there are 26 NaNs
In test['card6'] there are 54 NaNs
Wall time: 53min 8s

## Finding UID

In [105]:
train[cols].head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,2987000,0,86400,68.5,W,13926,327.0,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN,14.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,1,0,2,0,1,1
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,0,0,1,0,1,1
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,1,1,0,0,0,1,0,0,1,0,1,0,1,1
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,NaN,yahoo.com,NaN,112.0,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,2,5,0,0,0,4,0,0,1,0,1,0,25,1
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1

D1 column holds the cumulative number of days since the day the transanction started. Therefore subtracting that from the starting day gives the number of days since the card has been operational

In [112]:
for df in [train,test]:
    df['DaysFromStart'] = np.floor(df['TransactionDT']/(60*60*24)) - 1
    df['D1-DaysFromStart'] = df['D1'] - df['DaysFromStart']
cols = cols + ['DaysFromStart','D1-DaysFromStart']
train[cols].head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,DaysFromStart,D1-DaysFromStart
0,2987000,0,86400,68.5,W,13926,327.0,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN,14.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,1,0,2,0,1,1,0.0,14.0
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0.0,0.0
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0.0,0.0
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,NaN,yahoo.com,NaN,112.0,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,2,5,0,0,0,4,0,0,1,0,1,0,25,1,0.0,112.0
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0.0,0.0

Next finding the Unique Idnetification is the distinguishing step that made the difference in the competition. It was found  that certain columns clubbed together could help indentify unique transaction ID's.

In [113]:
for df in [train,test]:
    df['uid'] = df['ProductCD'].astype(str) + '_' + df['card1'].astype(str) + '_' + df['card2'].astype(str)
    df['uid'] = df['uid'] + '_' + df['card3'].astype(str) + '_' + df['card4'].astype(str)
    df['uid'] = df['uid'] + '_' + df['card5'].astype(str) + '_' + df['card6'].astype(str)
    df['uid'] = df['uid'] + '_' + df['addr1'].astype(str) + '_' + df['D1-DaysFromStart'].astype(str)
cols = ['uid'] + cols
train[cols].head()

,uid,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,DaysFromStart,D1-DaysFromStart
0,W_13926_327.0_150.0_discover_142.0_credit_315.0_14.0,2987000,0,86400,68.5,W,13926,327.0,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN,14.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,1,0,2,0,1,1,0.0,14.0
1,W_2755_404.0_150.0_mastercard_102.0_credit_325.0_0.0,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0.0,0.0
2,W_4663_490.0_150.0_visa_166.0_debit_330.0_0.0,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0.0,0.0
3,W_18132_567.0_150.0_mastercard_117.0_debit_476.0_112.0,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,NaN,yahoo.com,NaN,112.0,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,2,5,0,0,0,4,0,0,1,0,1,0,25,1,0.0,112.0
4,H_4497_514.0_150.0_mastercard_102.0_credit_420.0_0.0,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0.0,0.0

In [114]:
by = ['uid']
grouped = train.groupby(by, as_index=False)['isFraud'].agg(['count','sum']).reset_index()
grouped.sort_values(by).head(10)

                                                    uid  count  sum
0        C_10003_555.0_128.0_visa_226.0_debit_nan_-89.0      5    0
1   C_1000_555.0_185.0_mastercard_224.0_debit_nan_-65.0      1    0
2  C_10022_555.0_117.0_mastercard_224.0_debit_nan_-34.0      1    0
3       C_10023_111.0_150.0_visa_226.0_debit_nan_-102.0      1    0
4       C_10023_111.0_150.0_visa_226.0_debit_nan_-114.0      1    0
5       C_10023_111.0_150.0_visa_226.0_debit_nan_-145.0      2    0
6       C_10023_111.0_150.0_visa_226.0_debit_nan_-176.0      1    0
7        C_10023_111.0_150.0_visa_226.0_debit_nan_-72.0      1    0
8      C_10024_321.0_150.0_visa_144.0_credit_nan_-136.0      3    3
9      C_10024_321.0_150.0_visa_144.0_credit_nan_-160.0      1    0

In the above table we can see that the UID number 8 has 3 counts and 3 sum. The sum of 3 shows that all the transactions from that account has been fradulent. This is a pretty amazing find. I am pretty sure this is a good way to indentify rows that have been fraudulent. The whole idea behind the competition is to find fradulent credit cards

In [115]:
grouped.describe()

               count            sum
count  231339.000000  231339.000000
mean        2.552704       0.089319
std         5.207512       0.906427
min         1.000000       0.000000
25%         1.000000       0.000000
50%         1.000000       0.000000
75%         2.000000       0.000000
max      1414.000000      90.000000

In [116]:
train = train.drop(['DaysFromStart','D1-DaysFromStart'], axis=1)
test = test.drop(['DaysFromStart','D1-DaysFromStart'], axis=1)

In [118]:
import pickle
train.to_pickle('I:/ML Datasets/IEEE Fradulent/train_reduced.pkl')
test.to_pickle('I:/ML Datasets/IEEE Fradulent/test_reduced.pkl')

In [129]:
%%time
train = pd.read_pickle('I:/ML Datasets/IEEE Fradulent/train_reduced.pkl')
test = pd.read_pickle('I:/ML Datasets/IEEE Fradulent/test_reduced.pkl')

## Part-2 Creating the model

In [1]:
import warnings
warnings.filterwarnings("ignore")

import seaborn as sns
import matplotlib.pylab as plt
import pandas as pd
import numpy as np
import graphviz



import gc
import random
import datetime
from tqdm import tqdm_notebook as tqdm


import scipy as sp
from scipy import stats
from scipy.stats import ks_2samp
from scipy.stats.mstats import gmean


from sklearn.model_selection import StratifiedKFold, train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score

from IPython.display import display


import lightgbm as lgb

from tqdm import tqdm_notebook as tqdm

In [2]:
# Set a few plotting defaults
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 6)
plt.rcParams['font.size'] = 12

In [3]:
X = pd.read_pickle('I:/ML Datasets/IEEE Fradulent/train_reduced.pkl')
X_test = pd.read_pickle('I:/ML Datasets/IEEE Fradulent/test_reduced.pkl')

## SEED FUNCTION
The SEED function that defines the inital input seed

In [4]:
def seed_everything(seed=0):
    random.seed(seed)
    np.random.seed(seed)

In [5]:
SEED = 42 ## This is the defining SEED
seed_everything(SEED)
START_DATE = datetime.datetime.strptime('2017-11-30', '%Y-%m-%d')
TARGET = 'isFraud'
NFOLDS = 5

Getting the data

In [6]:
sample_submission = pd.read_csv('I:/ML Datasets/IEEE Fradulent/sample_submission.csv', index_col='TransactionID')

y = X[TARGET]
X = X.drop(TARGET, axis=1)
        
print(f'X.shape : {X.shape}, X_test.shape : {X_test.shape}')

X.shape : (590540, 434), X_test.shape : (506691, 434)

In [7]:
def train_val_split_by_time(X, y, test_size=0.2):
    X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=test_size, shuffle=False)
    
    print(f'train.shape: {X_train.shape}, val.shape: {X_val.shape}')
    
    return X_train, y_train, X_val, y_val

In [8]:
X_train, y_train, X_val, y_val = train_val_split_by_time(X, y)

train.shape: (472432, 434), val.shape: (118108, 434)

## Plotting Feature Importance

In [9]:
def plot_feature_importance(X, model):
    feature_importance_df = pd.DataFrame()
    feature_importance_df['feature'] = X.columns.tolist()
    feature_importance_df['gain_importance'] = model.feature_importance('gain')
    feature_importance_df['split_importance'] = model.feature_importance('split')

    plt.figure(figsize=(15,10))
    plt.subplot(121)
    plot_1 = sns.barplot(x='gain_importance', y='feature',
                         data=feature_importance_df.sort_values(by='gain_importance', ascending=False)[:50])
    plot_1.set_title('LightGBM Feature Gain Importance')

    plt.subplot(122)
    plot_2 = sns.barplot(x='split_importance', y='feature',
                         data=feature_importance_df.sort_values(by='split_importance', ascending=False)[:50])
    plot_2.set_title('LightGBM Feature Split Importance')
    plt.tight_layout()
    plt.show()
    
    return feature_importance_df

In [10]:
def plot_feature_importance(fi_df):
    plt.figure(figsize=(15,10))
    plt.subplot(121)
    plot_1 = sns.barplot(x='gain_importance', y='feature',
                         data=fi_df.sort_values(by='gain_importance', ascending=False)[:50])
    plot_1.set_title('LightGBM Feature Gain Importance')

    plt.subplot(122)
    plot_2 = sns.barplot(x='split_importance', y='feature',
                         data=fi_df.sort_values(by='split_importance', ascending=False)[:50])
    plot_2.set_title('LightGBM Feature Split Importance')
    plt.tight_layout()
    plt.show()

## LGB Parameters Setting up

In [11]:
lgb_params = {
    'objective': 'binary', ## Target vlaue is binary
    #'metric': 'auc',
    'metric': 'None',  # Default Metric: ‘l2’ for LGBMRegressor, ‘logloss’ for LGBMClassifier
    'learning_rate': 0.01, ## Learning rate
    'num_leaves': 2**8, ## number of leaves
    'max_bin': 255, ## This is the binning value per feature. It decides how many max bins to be created
    'max_depth': -1, ## This means no leaves
    'bagging_freq': 5, ## I am guessing bag at every 5th iteration
    'bagging_fraction': 0.7,  ## 70% of parameters randomly in each iteration for building trees.
    'bagging_seed': SEED, # Setting the seed
    'feature_fraction': 0.7, # Amount of features to take
    'feature_fraction_seed': SEED,
    'first_metric_only': True, 
    #Create a callback that activates early stopping.Activates early stopping. The model will train until 
    #the validation score stops improving. Validation score needs to improve at least every early_stopping_rounds
    #round(s) to continue training.Requires at least one validation data and one metric. 
    #If there’s more than one, will check all of them. But the training data is ignored anyway.
    #To check only the first metric set first_metric_only to True.
    'verbose': 100,
    'n_jobs': -1,
    'seed': SEED,
}

## Numba 

Numba translates Python functions to optimized machine code at runtime using the industry-standard LLVM compiler library. Numba-compiled numerical algorithms in Python can approach the speeds of C or FORTRAN. You don't need to replace the Python interpreter, run a separate compilation step, or even have a C/C++ compiler installed. Just apply one of the Numba decorators to your Python function, and Numba does the rest.

jit is one of those decorators

In [12]:
from numba import jit

## Fast AUC

To understand the logic behind scikit's implementation of AUC-ROC curve the link is below. Note: We have to remember that 
that we are predicting the probabilites of getting a positive value and that is thhe basis of the plotting the curve.
Therefore all the probabilities are for the prediction that whether the class belongs to 1 or not. The threshold is 
randomly produced by the algorith I guess. pos means which of these are we assinging true positive.

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_curve.html#sklearn.metrics.roc_curve

https://www.kaggle.com/c/microsoft-malware-prediction/discussion/76013

The link to the fast_auc source code is given above. The explanation is not clear will be adding that when I get one

the fast_auc function is defnitely faster than the sci-kit implementation but however it hits a roadblock when say there
are two values 0.5,0.5 for the same classification of 0,1. I am not fully sure behind the logic behind the code. It seems
as if a higher weight is given for vlaues that are correctly classified at a higher threshold and then all the positive 
values are added. I dont understand the logic behind the  division

In [13]:
@jit
def fast_auc(y_true, y_prob):
    y_true = np.asarray(y_true)
    y_true = y_true[np.argsort(y_prob)]
    nfalse = 0
    auc = 0
    n = len(y_true)
    for i in range(n):
        y_i = y_true[i]
        nfalse += (1 - y_i)
        auc += y_i * nfalse
        print(auc)
    auc /= (nfalse * (n - nfalse))
    return auc

def eval_auc(preds, dtrain):
    labels = dtrain.get_label()
    return 'auc', fast_auc(labels, preds), True

## Covariate Shift

The whole idea behind doing covariate shift is to understand whether one variable considerablly changes between the training and the testing data. There is a shift in the distribution of the data between the training and the testing. This can be indentified by mixing the testing and the training data. Create a seperate feature that, in our case we created isTest = 0 for all the training variables and isTest = 1 for all the testing dataset. This is more of part of an EDA to understand. We use ROCAUC score and assess the only feature that we are concerned about. If the score is in the range of 0.5 it means the varialbe doesnt do a good job in distinguishing between the training and testing dataset and therefore doesnt exhibhit covariate shift.
More on this can be found at 

https://www.analyticsvidhya.com/blog/2017/07/covariate-shift-the-hidden-problem-of-real-world-data-science/

The code was taken from this thread

https://www.kaggle.com/nroman/eda-for-cis-fraud-detection

In [14]:
def covariate_shift(df_train, df_test, feature, seed=SEED):
    df_f_train = pd.DataFrame(data={feature: df_train[feature], 'isTest': 0})
    df_f_test = pd.DataFrame(data={feature: df_test[feature], 'isTest': 1})

    # Creating a single dataframe
    df = pd.concat([df_f_train, df_f_test], ignore_index=True)
    
    # Encoding if feature is categorical
    if str(df[feature].dtype) in ['object', 'category']:
        df[feature] = LabelEncoder().fit_transform(df[feature].astype(str))
    
    # Splitting it to a training and testing set
    X_train, X_test, y_train, y_test = train_test_split(df[feature], df['isTest'], test_size=0.33,
                                                        random_state=seed, stratify=df['isTest'])

    params = {
        'objective': 'binary',
        'metric': 'auc',
        'n_estimators': 500,
        'random_state': seed
    }
    
    clf = lgb.LGBMClassifier(**params)
    clf.fit(X_train.values.reshape(-1, 1), y_train)
    roc_auc =  roc_auc_score(y_test, clf.predict_proba(X_test.values.reshape(-1, 1))[:, 1])

    del df, X_train, y_train, X_test, y_test
    gc.collect();
    
    #print('feature:', feature, 'covariate shift:', roc_auc)
    
    return roc_auc

The idea behind adversial validation is that to check each column in the train and test data together and see which columns exhibit covariate shift. The threshold is placed at 0.7 and any auc score above that means those columns have to be discarded.

Also tqdm is nothing but a progress bar that displays the amount of progress made in a for loop for each iteration. It pretty much keeps us from waiting and knowing how much of progress has been made. Below is the link for that

https://tqdm.github.io/

In [15]:
def adversarial_validation(df_train, df_test, threshold=0.7):
    list_auc_value = []

    for i in tqdm(df_train.columns.tolist()):
        auc = covariate_shift(df_test , df_train, i)
        list_auc_value.append(auc)
        if auc > threshold:
            print('feature:', i, 'covariate shift:', auc)

    cov = pd.Series(list_auc_value, index = df_train.columns.tolist()).sort_values() 
    list_discarded = list(cov[cov > threshold].index)
    
    print('features to drop:', list_discarded)
    
    return cov, list_discarded

## Frequency Encoding

https://www.kaggle.com/cdeotte/time-split-validation-malware-0-68

This helps improving the score on columns that are time dependant. I guess it has something to do with assiging weights to certain variables. I couldnt find a reasonable explanation that I could understand. I would have to dig in more.

The timeblock_frequency_encoding function does the encoding on each time period for the combination on the train and test dataset together.

In [16]:
def freq_encode_full(df1, df2, col, normalize=True):
    df = pd.concat([df1[col],df2[col]])
    vc = df.value_counts(dropna=False, normalize=normalize).to_dict()
    nm = col + '_FE_FULL'
    df1[nm] = df1[col].map(vc)
    df1[nm] = df1[nm].astype('float32')
    df2[nm] = df2[col].map(vc)
    df2[nm] = df2[nm].astype('float32')
    return nm

In [17]:
def timeblock_frequency_encoding(train_df, test_df, periods, columns):
    for period in periods:
        for col in columns:
            new_col = col +'_'+ period
            print('timeblock frequency encoding:', new_col)
            train_df[new_col] = train_df[col].astype(str)+'_'+train_df[period].astype(str)
            test_df[new_col]  = test_df[col].astype(str)+'_'+test_df[period].astype(str)

            temp_df = pd.concat([train_df[[new_col]], test_df[[new_col]]])
            fq_encode = temp_df[new_col].value_counts(normalize=True).to_dict()

            train_df[new_col] = train_df[new_col].map(fq_encode)
            test_df[new_col]  = test_df[new_col].map(fq_encode)
            
            train_df[new_col] = train_df[new_col]/train_df[period+'_FE_FULL']
            test_df[new_col]  = test_df[new_col]/test_df[period+'_FE_FULL']

    return train_df, test_df

## UID Aggregation

uids would be the columns.

aggregations would be mean or std

The main idea is to create a say take one column form uid and main column and take an aggregate such as mean. Both the dataframes (train and test) are joined togehter and it is called temp_df. A new column that merges the main columns and uid are created. The temp_df is grouped by the columns in uid and main column and then aggregated by either the mean or std and the 
aggrgeated column is called the inital new column that we created. This value is then mapped to the training and the testing 
dataset

In [18]:
def uid_aggregation(train_df, test_df, main_columns, uids, aggregations):
    for main_column in main_columns:  
        for col in uids:
            for agg_type in aggregations:
                new_col_name = col+'_'+main_column+'_'+agg_type
                print('uid_aggregation:', new_col_name)
                temp_df = pd.concat([train_df[[col, main_column]], test_df[[col,main_column]]])
                temp_df = temp_df.groupby([col])[main_column].agg([agg_type]).reset_index().rename(
                                                        columns={agg_type: new_col_name})

                temp_df.index = list(temp_df[col])
                temp_df = temp_df[new_col_name].to_dict()   

                train_df[new_col_name] = train_df[col].map(temp_df)
                test_df[new_col_name]  = test_df[col].map(temp_df)
    return train_df, test_df

## Normalization

In [19]:
def values_normalization(dt_df, periods, columns):
    for period in periods:
        for col in columns:
            new_col = col +'_'+ period
            print('values_normalization:', new_col)
            dt_df[col] = dt_df[col].astype(float)  

            temp_min = dt_df.groupby([period])[col].agg(['min']).reset_index()
            temp_min.index = temp_min[period].values
            temp_min = temp_min['min'].to_dict()

            temp_max = dt_df.groupby([period])[col].agg(['max']).reset_index()
            temp_max.index = temp_max[period].values
            temp_max = temp_max['max'].to_dict()

            temp_mean = dt_df.groupby([period])[col].agg(['mean']).reset_index()
            temp_mean.index = temp_mean[period].values
            temp_mean = temp_mean['mean'].to_dict()

            temp_std = dt_df.groupby([period])[col].agg(['std']).reset_index()
            temp_std.index = temp_std[period].values
            temp_std = temp_std['std'].to_dict()

            dt_df['temp_min'] = dt_df[period].map(temp_min)
            dt_df['temp_max'] = dt_df[period].map(temp_max)
            dt_df['temp_mean'] = dt_df[period].map(temp_mean)
            dt_df['temp_std'] = dt_df[period].map(temp_std)

            dt_df[new_col+'_min_max'] = (dt_df[col]-dt_df['temp_min'])/(dt_df['temp_max']-dt_df['temp_min'])
            dt_df[new_col+'_std_score'] = (dt_df[col]-dt_df['temp_mean'])/(dt_df['temp_std'])
            del dt_df['temp_min'],dt_df['temp_max'],dt_df['temp_mean'],dt_df['temp_std']
    return dt_df

## Feature Engineering

cols_to_drop are at the end of fe1

In [20]:
cols_to_drop = [
    'D5_DT_W_std_score',
    'ProductCD_TransactionAmt_DT_W',
    'D4_DT_D_std_score',
    'D15_DT_D_std_score',
    'D3_DT_W_std_score',
    'D11_DT_W_std_score',
    'card3_card5_DT_W_week_day_dist',
    'card5_DT_W_week_day_dist',
    'D10_DT_D_std_score',
    'card3_card5_DT_D',
    'ProductCD_cents_DT_D',
    'D4_DT_W_std_score',
    'D15_DT_W_std_score',
    'uid_DT_D',
    'card3_DT_W_week_day_dist',
    'D10_DT_W_std_score',
    'D8_DT_D_std_score',
    'card3_card5_DT_W',
    'ProductCD_cents_DT_W',
    'uid_DT_W',
    'D8_DT_W_std_score'
]

In [21]:
def fe1(df_train, df_test):
    df_tr = df_train.copy()
    df_te = df_test.copy()
    
    remove_features = [
        'TransactionID','TransactionDT'
    ]
    
    for df in [df_tr, df_te]:
        # Temporary variables for aggregation
        df['DT'] = df['TransactionDT'].apply(lambda x: (START_DATE + datetime.timedelta(seconds = x)))
        df['DT_M'] = ((df['DT'].dt.year-2017)*12 + df['DT'].dt.month).astype(np.int8)
        df['DT_W'] = ((df['DT'].dt.year-2017)*52 + df['DT'].dt.weekofyear).astype(np.int8)
        df['DT_D'] = ((df['DT'].dt.year-2017)*365 + df['DT'].dt.dayofyear).astype(np.int16)

        df['DT_hour'] = (df['DT'].dt.hour).astype(np.int8)
        df['DT_day_week'] = (df['DT'].dt.dayofweek).astype(np.int8)
        df['DT_day_month'] = (df['DT'].dt.day).astype(np.int8)

        # Possible solo feature
        df['is_december'] = df['DT'].dt.month
        df['is_december'] = (df['is_december']==12).astype(np.int8)
    
    remove_features += ['DT','DT_M','DT_W','DT_D','DT_hour','DT_day_week','DT_day_month']
    
    for col in ['DT_W','DT_D']:
        freq_encode_full(df_tr, df_te, col)
        
    ## We cant use it as a solo feature
    remove_features.append(col+'_FE_FULL')
    
## Note the reason we cant use the time features individually is  because individually these features dont mean anything
## what that means is that say we new for the past 7 days the normal transactions and suddenly there is a spike in activity
## it could be due to the launch of a new iphone and therefore spike in transactions or it could be fradulent activity. 
## Without knowing what the normalcy, we dont know and cant judge. Also take a look at the test data there is a lot of missing
## content and therefore these features cannot be used independantly used since they would vary in the train and test data.
## Take a look at the discussion below to understand the reasoning
    
#https://www.kaggle.com/kyakovlev/ieee-fe-with-some-eda

    for df in [df_tr, df_te]:
        df['ProductCD_card1'] = df['ProductCD'].astype(str) + '_' + df['card1'].astype(str)
        df['card1_addr1'] = df['card1'].astype(str) + '_' + df['addr1'].astype(str)
        df['TransactionAmt_dist2'] = df['TransactionAmt'].astype(str) + '_' + df['dist2'].astype(str)
        
    remove_features.append('ProductCD_card1')
    remove_features.append('card1_addr1')
    remove_features.append('TransactionAmt_dist2')
    
## The next code is for removing the outliers from the code. The logic behind the loop is that if there are any unique 
## values that have a value less than 2 they would be removed. The train and test dataset are combined together before 
## doing the value counts. After which the values in the training and the testing values are copied from each and then from 
## the valid_card set. It should be noted that columns like (Product_CD, card1_addr1 ...Trans.._dist2) are created for 
## indentification of the UID.
    
    for col in ['card1','ProductCD_card1','card1_addr1','TransactionAmt_dist2']: 
        valid_card = pd.concat([df_tr[[col]], df_te[[col]]])
        valid_card = valid_card[col].value_counts()

        invalid_cards = valid_card[valid_card<=2]
        print('Rare data', col, len(invalid_cards))

        valid_card = valid_card[valid_card>2]
        valid_card = list(valid_card.index)

        print('No intersection in Train', col, len(df_tr[~df_tr[col].isin(df_te[col])]))
        print('Intersection in Train', col, len(df_tr[df_tr[col].isin(df_te[col])]))

        df_tr[col] = np.where(df_tr[col].isin(df_te[col]), df_tr[col], np.nan)
        df_te[col]  = np.where(df_te[col].isin(df_tr[col]), df_te[col], np.nan)

        df_tr[col] = np.where(df_tr[col].isin(valid_card), df_tr[col], np.nan)
        df_te[col]  = np.where(df_te[col].isin(valid_card), df_te[col], np.nan)
        print('#'*20)
        
## Same as the above loop but not giving a threshold rather removing values that dont correspond in each other list

    for col in ['card2','card3','card4','card5','card6']: 
        print('No intersection in Train', col, len(df_tr[~df_tr[col].isin(df_te[col])]))
        print('Intersection in Train', col, len(df_tr[df_tr[col].isin(df_te[col])]))

        df_tr[col] = np.where(df_tr[col].isin(df_te[col]), df_tr[col], np.nan)
        df_te[col]  = np.where(df_te[col].isin(df_tr[col]), df_te[col], np.nan)
        print('#'*20)
    
    # Add values remove list
    new_columns = ['uid']
    remove_features += new_columns
        
    print('#'*10)
    print('Most common uIds:')
    for col in new_columns:
        print('#'*10, col)
        print(df_tr[col].value_counts()[:10])
        
## For all the columns below we are doing frequency encoding. This is not a time feature and therefore doing the frequency
## encoding of it would be not an issue
        
    i_cols = ['card1','card2','card3','card5','ProductCD_card1','card1_addr1','TransactionAmt_dist2'] + new_columns
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)
        
        
## The belwo columns we are grouping by certain columns
        
########################### card3/card5 most common hour 
# card3 or card5 is a bank country?
# can we find:
# - the most popular Transaction Hour
# - the most popular Week Day
# and then find distance from it

# Prepare bank type feature
    for df in [df_tr, df_te]:
         df['card3_card5'] = df['card3'].astype(str) +'_'+ df['card5'].astype(str)
    remove_features.append('card3_card5') 
    
    encoding_mean = {
        1: ['DT_D','DT_hour','_hour_dist','DT_hour_mean'],
        2: ['DT_W','DT_day_week','_week_day_dist','DT_day_week_mean'],
    }

    encoding_best = {
        1: ['DT_D','DT_hour','_hour_dist_best','DT_hour_best'],
        2: ['DT_W','DT_day_week','_week_day_dist_best','DT_day_week_best'],
    }

## In the below code so the first part of it combines in the first case(first loop) card3 + 'DT_D' and creates a column 
## called card3_DT_D_DT_hour_mean that then groups them by this newly created column and find the mean for the hours in each
## group. This value is then subtracted from the DT_hour.
     # Some ugly code here (even worse than in other parts)
    for col in ['card3','card5','card3_card5']:
        for df in [df_tr, df_te]:
            for encode in encoding_mean:
                encode = encoding_mean[encode].copy()
                new_col = col + '_' + encode[0] + encode[2]
                df[new_col] = df[col].astype(str) +'_'+ df[encode[0]].astype(str)

                temp_dict = df.groupby([new_col])[encode[1]].agg(['mean']).reset_index().rename(
                                                                        columns={'mean': encode[3]})
                temp_dict.index = temp_dict[new_col].values
                temp_dict = temp_dict[encode[3]].to_dict()
                df[new_col] = df[encode[1]] - df[new_col].map(temp_dict)
                
## For the second part it is similar story

            for encode in encoding_best:
                encode = encoding_best[encode].copy()
                new_col = col + '_' + encode[0] + encode[2]
                df[new_col] = df[col].astype(str) +'_'+ df[encode[0]].astype(str)
                temp_dict = df.groupby([col,encode[0],encode[1]])[encode[1]].agg(['count']).reset_index().rename(
                                                                        columns={'count': encode[3]})

                temp_dict.sort_values(by=[col,encode[0],encode[3]], inplace=True)
                temp_dict = temp_dict.drop_duplicates(subset=[col,encode[0]], keep='last')
                temp_dict[new_col] = temp_dict[col].astype(str) +'_'+ temp_dict[encode[0]].astype(str)
                temp_dict.index = temp_dict[new_col].values
                temp_dict = temp_dict[encode[1]].to_dict()
                df[new_col] = df[encode[1]] - df[new_col].map(temp_dict)
                

## The whole idea behind the block below is to check for normal activity. What that means here is take for example uid from 
## i_cols and DT_D from peroids. When they pass it onto the function. What the function does here is that it at first 
## joins both the test and train data into one single dataframe. It then creates a new column called say uid_DT_D that has
## the uid and the dates the specific user has made transanctions. This value is then counted and normalized. What that means
## is that say a specific customer on given date across different months has made how many transanctions. This value is then
## divided  by the total normalized value counts of total occurences of that specific date in the total frame. Now when we
## do that if there is a larger value this means that specific user made a large number of transactions on that specific day
## compared to the normal transactions.
########################### bank_type
# Tracking nomal activity
# by doing timeblock frequency encoding
    i_cols = ['uid','card3_card5'] #['uid','uid2','uid3','uid4','uid5','bank_type']
    periods = ['DT_W','DT_D']

# We have few options to encode it here:
# - Just count transactions
#(but some timblocks have more transactions than others)
# - Devide to total transactions per timeblock (proportions)
# - Use both
# - Use only proportions
    df_tr, df_te = timeblock_frequency_encoding(df_tr, df_te, periods, i_cols)
    
    
## This function is an aggregation of for example say uid,D1 and mean. We create a column called uid_D1_mean which at first
## combines both the test and train data. This is followed by creating a temporary dataframe that groups by column uid,
## and then does the aggregation of either mean or standard deviation over columns such as D1,D2..D16. The new dataframe 
## would be converted to a dictionary where the key would be the uid and the values would be uid_D1_mean.This would be then
## mapped to the train and test data

########################### D Columns
    # From columns description we know that
    # D1-D15: timedelta, such as days between previous transaction, etc.
    # 1. I can't imagine normal negative timedelta values (Let's clip Values)
    # 2. Normalize (Min-Max, Standard score) All D columns, except D1,D2,D9
    # 3. Do some aggregations based on uIDs
    # 4. Freaquency encoding
    # 5. D1,D2 are clipped by max train_df values (let's scale it)
    i_cols = ['D'+str(i) for i in range(1,16)]
    uids = ['uid','card3_card5']
    aggregations = ['mean','std']

    ####### uIDs aggregations
    df_tr, df_te = uid_aggregation(df_tr, df_te, i_cols, uids, aggregations)
    
    # Lets transform D8 and D9 column
    # As we almost sure it has connection with hours
    df['D9_not_na'] = np.where(df['D9'].isna(),0,1)
    df['D8_not_same_day'] = np.where(df['D8']>=1,1,0) ## Assigning all the values greater than 1 in D8 to 1 else 0
    df['D8_D9_decimal_dist'] = df['D8'].fillna(0)-df['D8'].fillna(0).astype(int)
    df['D8_D9_decimal_dist'] = ((df['D8_D9_decimal_dist']-df['D9'])**2)**0.5
    df['D8'] = df['D8'].fillna(-1).astype(int)
    
    ####### Values Normalization
    i_cols.remove('D1')
    i_cols.remove('D2')
    i_cols.remove('D9')
    periods = ['DT_D','DT_W']
    
## Here what happens is that when say a column called DT_D for period and D3 for i_cols. It groups by the period DT_D and 
## then finds the minimum value in each group for a given date. This is then saved into a dataframe temp_min with the index
## value being the dates and the values holding the minimum in each group. This is then done for max, mean  and std. These
## values are mapped for the training dataset and then min_max and std_score are calcualted. All the other columns are 
## removed except for min_max and std_score.
    
    #kaggle.com/kyakovlev/ieee-columns-scaling
    for df in [df_tr, df_te]:
        df = values_normalization(df, periods, i_cols)

    for col in ['D1','D2']:
        for df in [df_tr, df_te]:
            df[col+'_scaled'] = df[col]/df_tr[col].max()

    ####### Global Self frequency encoding
    # self_encoding=True because 
    # we don't need original values anymore
    i_cols = ['D'+str(i) for i in range(1,16)]
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)
    remove_features += i_cols
    
    ####### Global Self frequency encoding
    # self_encoding=True because 
    # we don't need original values anymore
    i_cols = ['D'+str(i) for i in range(1,16)]
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)
    remove_features += i_cols
    
    ########################### TransactionAmt
    # Clip Values
    ## clipping valuee because at a higher value the binning is easier for the lgbm models
    df_tr['TransactionAmt'] = df_tr['TransactionAmt'].clip(0,5000)
    df_te['TransactionAmt']  = df_te['TransactionAmt'].clip(0,5000)
    
    # For our model current TransactionAmt is a noise
    # https://www.kaggle.com/kyakovlev/ieee-check-noise
    # (even if features importances are telling contrariwise)
    # There are many unique values and model doesn't generalize well
    # Lets do some aggregations
    i_cols = ['TransactionAmt']
    uids = ['card1','card2','card3','card5','uid','card3_card5']
    aggregations = ['mean','std']

    # uIDs aggregations
    df_tr, df_te = uid_aggregation(df_tr, df_te, i_cols, uids, aggregations)
    
    
    # TransactionAmt Normalization
    periods = ['DT_D','DT_W']
    for df in [df_tr, df_te]:
        df = values_normalization(df, periods, i_cols)

    #i_cols = ['id_01','id_02','id_05','id_06','id_07','id_08','id_09','id_14']
    i_cols = ['id_01','id_02','id_05','id_06','id_09','id_14']
    uids = ['card1','card2','card3','card5','uid','card3_card5']
    aggregations = ['mean','std']

    # uIDs aggregations
    df_tr, df_te = uid_aggregation(df_tr, df_te, i_cols, uids, aggregations)
    
    
    i_cols = [
        #'V202','V203','V204','V317','V318','V257','V258',
        'V258',
        'V306','V307','V308','V294'
    ]
    uids = ['uid','card3_card5']
    aggregations = ['mean','std']
    
    # uIDs aggregations
    df_tr, df_te = uid_aggregation(df_tr, df_te, i_cols, uids, aggregations)
    
    # ProductCD, TransactionAmt
    
## Creating new columns that are the aggregations of the ProductCD and TransactionAmt
    df_tr['ProductCD_TransactionAmt'] = df_tr['ProductCD'].astype(str)+'_'+df_tr['TransactionAmt'].astype(str)
    df_te['ProductCD_TransactionAmt'] = df_te['ProductCD'].astype(str)+'_'+df_te['TransactionAmt'].astype(str)
    
## Timeblock frequency encoding is done for ProductCD_TransactionAmt with periods for DT_D and DT_W . 
    i_cols = ['ProductCD_TransactionAmt']
    periods = ['DT_D','DT_W']
    df_tr, df_te = timeblock_frequency_encoding(df_tr, df_te, periods, i_cols)

## Frequency encoding is done for ProductionCD_TransactionAmt   
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)
    remove_features += i_cols
    
## Another new column is created that has the cents which is the difference between Transaction amount and its decimal part

    df_tr['cents'] = np.round( df_tr['TransactionAmt'] - np.floor(df_tr['TransactionAmt']),3 )
    df_te['cents'] = np.round( df_te['TransactionAmt'] - np.floor(df_te['TransactionAmt']),3 )

    i_cols = ['cents']
    remove_features += i_cols

## ProductCD, cents together are clubbed to create a column and then frequency encoding
    # ProductCD, cents
    df_tr['ProductCD_cents'] = df_tr['ProductCD'].astype(str)+'_'+df_tr['cents'].astype(str)
    df_te['ProductCD_cents'] = df_te['ProductCD'].astype(str)+'_'+df_te['cents'].astype(str)

    i_cols = ['ProductCD_cents']
    periods = ['DT_D','DT_W']
    df_tr, df_te = timeblock_frequency_encoding(df_tr, df_te, periods, i_cols)
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)
    remove_features += i_cols
    
# Small "hack" to transform distribution 
# (doesn't affect auc much, but I like it more)
# please see how distribution transformation can boost your score 
# (not our case but related)
# https://scikit-learn.org/stable/auto_examples/compose/plot_transformed_target.html

    df_tr['TransactionAmt'] = np.log1p(df_tr['TransactionAmt'])
    df_te['TransactionAmt'] = np.log1p(df_te['TransactionAmt'])
    
########################### C Columns

## So in the below code all the columns from C1 to C15 is clubbed together in one single column called c_cols_0_bin. This 
## new column is then added values from each column. This is done by checking each column and seeing if the value is 0 or 1
## If the value is any value other than zero than it assigns 0 for that columns otherwise 1 for that columns. Therefore the
## the output would be astrings of 0's and 1's

    i_cols = ['C'+str(i) for i in range(1,15)]
    
    for df in [df_tr, df_te]:
        df['c_cols_0_bin'] = ''
        for c in i_cols:
            df['c_cols_0_bin'] += (df[c] == 0).astype(int).astype(str)    
    freq_encode_full(df_tr, df_te, 'c_cols_0_bin')

## In the below code fruther aggrgations are done with the sets of uid's passed onto the list and the aggregations. 
    ####### Global Self frequency encoding
    # self_encoding=False because  ## This option is not included in the function
    # I want to keep original values
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)

    uids = ['card1','card2','card3','card5','uid','card3_card5']
    aggregations = ['mean','std']

    ####### uIDs aggregations
    df_tr, df_te = uid_aggregation(df_tr, df_te, i_cols, uids, aggregations)
    
## For clipping the max values we find the max value of DT_M for each column C1-C15 and then take the max value at that 
## point for C1-C15 and that would be the upper clip for that specific column
    
    ####### Clip max values
    for df in [df_tr, df_te]:
        for col in i_cols:
            max_value = df_tr[df_tr['DT_M']==df_tr['DT_M'].max()][col].max()
            df[col] = df[col].clip(None,max_value) 
    
       
    ########################### dist1, dist2 Columns
    i_cols = ['dist1']
    uids = ['card1','card2','card3','card5','uid','card3_card5']
    aggregations = ['mean','std']

    ####### uIDs aggregations
    df_tr, df_te = uid_aggregation(df_tr, df_te, i_cols, uids, aggregations)
    
## What happens here is that, atfirst a dictionary is created called nans_group and then a dataframe nans_df
## is created with a True or False sort of a dataframe, i.e: if a given row is nan or not. Then we create a loop and 
## indentify all the columns that have Nan's greater than 0. This is then saved to the nans_group with the count of Nan as 
## the key and the column name as the count. After that another loop is done where new columns are created with the columns
## in the dictionary and the sum of those value are added,mean and std is calculated for each key and value. the columns
## V1-V340 are then removed.
    
 ####### V feature - nan group agg
    nans_groups = {}
    nans_df = pd.concat([df_tr, df_te]).isna()

    i_cols = ['V'+str(i) for i in range(1,340)]
    for col in i_cols:
        cur_group = nans_df[col].sum()
        if cur_group>0:
            try:
                nans_groups[cur_group].append(col)
            except:
                nans_groups[cur_group]=[col]

    for i, (n_group, n_cols) in enumerate(nans_groups.items()):
        print('processing nan group agg for:', n_cols)
        for df in [df_tr, df_te]:
            df[f'nan_group_{i}_sum'] = df[n_cols].sum(axis=1)
            df[f'nan_group_{i}_mean'] = df[n_cols].mean(axis=1)
            df[f'nan_group_{i}_std'] = df[n_cols].std(axis=1)

    del nans_groups, nans_df
    remove_features += i_cols
    
       ########################### Device info and identity
    for df in [df_tr, df_te]:
        ########################### Device info
        df['DeviceInfo'] = df['DeviceInfo'].fillna('unknown_device').str.lower()
        df['DeviceInfo_device'] = df['DeviceInfo'].apply(lambda x: ''.join([i for i in x if i.isalpha()]))
        df['DeviceInfo_version'] = df['DeviceInfo'].apply(lambda x: ''.join([i for i in x if i.isnumeric()]))

        ########################### Device info 2
        df['id_30'] = df['id_30'].fillna('unknown_device').str.lower()
        df['id_30_device'] = df['id_30'].apply(lambda x: ''.join([i for i in x if i.isalpha()]))
        df['id_30_version'] = df['id_30'].apply(lambda x: ''.join([i for i in x if i.isnumeric()]))

        ########################### Browser
        df['id_31'] = df['id_31'].fillna('unknown_device').str.lower()
        df['id_31_device'] = df['id_31'].apply(lambda x: ''.join([i for i in x if i.isalpha()]))

    i_cols = [
        'DeviceInfo','DeviceInfo_device','DeviceInfo_version',
        'id_30','id_30_device','id_30_version',
        'id_31','id_31_device',
        'id_33',
    ]
    
    ########################### Device info and identity
    for df in [df_tr, df_te]:
        ########################### Device info
        df['DeviceInfo'] = df['DeviceInfo'].fillna('unknown_device').str.lower()
        df['DeviceInfo_device'] = df['DeviceInfo'].apply(lambda x: ''.join([i for i in x if i.isalpha()]))
        df['DeviceInfo_version'] = df['DeviceInfo'].apply(lambda x: ''.join([i for i in x if i.isnumeric()]))

        ########################### Device info 2
        df['id_30'] = df['id_30'].fillna('unknown_device').str.lower()
        df['id_30_device'] = df['id_30'].apply(lambda x: ''.join([i for i in x if i.isalpha()]))
        df['id_30_version'] = df['id_30'].apply(lambda x: ''.join([i for i in x if i.isnumeric()]))

        ########################### Browser
        df['id_31'] = df['id_31'].fillna('unknown_device').str.lower()
        df['id_31_device'] = df['id_31'].apply(lambda x: ''.join([i for i in x if i.isalpha()]))

    i_cols = [
        'DeviceInfo','DeviceInfo_device','DeviceInfo_version',
        'id_30','id_30_device','id_30_version',
        'id_31','id_31_device',
        'id_33',
    ]
    
    i_cols = [
        'DeviceInfo','DeviceInfo_device','DeviceInfo_version',
        'id_30','id_30_device','id_30_version',
        'id_31','id_31_device',
        'id_33',
    ]

    ####### Global Self frequency encoding
    # self_encoding=True because 
    # we don't need original values anymore
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)
    remove_features += i_cols
    
    i_cols = [
        'id_01',
        'id_03',
        'id_04',
        'id_05',
        'id_06',
        'id_07',
        'id_08',
        'id_09',
        'id_10',
        'id_11',
        'id_13',
        'id_14',
        'id_17',
        'id_18',
        'id_19',
        'id_20',
        'id_21',
        'id_22',
        'id_24',
        'id_25',
        'id_26',
    ]
    for col in i_cols:
        freq_encode_full(df_tr, df_te, col)
        
        
    # Label Encoding
    for f in df_tr.columns:
        if df_tr[f].dtype=='object' or df_te[f].dtype=='object':
            df_tr[f] = df_tr[f].fillna('unseen_before_label')
            df_te[f] = df_te[f].fillna('unseen_before_label')
            lbl = LabelEncoder()
            lbl.fit(list(df_tr[f].values) + list(df_te[f].values))
            df_tr[f] = lbl.transform(list(df_tr[f].values))
            df_te[f] = lbl.transform(list(df_te[f].values))
            df_tr[f] = df_tr[f].astype('category')
            df_te[f] = df_te[f].astype('category')

    remove_features += cols_to_drop
    print('remove_features:', remove_features)
    print(f'train.shape : {df_tr.shape}, test.shape : {df_te.shape}')
    
    ########################### Final features list
    feature_columns = [col for col in list(df_tr) if col not in remove_features]
    categorical_features = [col for col in feature_columns if df_tr[col].dtype.name == 'category']
    categorical_features = [col for col in categorical_features if col not in remove_features]
    
    return df_tr[feature_columns], df_te[feature_columns], categorical_features

## Make_val_predictions

valid_sets:  (list of Datasets or None, optional (default=None)) – List of data to be evaluated on during training

Note Lightgbm uses categorical features directly without one hot encoding hence those features are being sent directly into categorical feature

1000: boosting iterations


feval = Customized evaluation function. Should accept two parameters: preds, train_data, and return (eval_name, eval_result, is_higher_better) or list of such tuples.

Evaulation technique:
eval_namestring( The name of evaluation(wihtout whitespaces): eval_auc 

Verbose_eval:With verbose_eval = 4 and at least one item in valid_sets, an evaluation metric is printed every 4 (instead of 1) boosting stages.

Best Iteration:The index of iteration that has the best performance will be saved in the best_iteration field if early stopping logic is enabled by setting early_stopping_rounds. Note that train() will return a model from the best iteration.

In [22]:
def make_val_prediction(X_train, y_train, X_val, y_val, seed=SEED, seed_range=3, lgb_params=lgb_params,
                        category_cols=None):
    print(X_train.shape, X_val.shape)

    train_data = lgb.Dataset(X_train, label=y_train)
    val_data = lgb.Dataset(X_val, label=y_val)
    
    auc_arr = []
    best_iteration_arr = []
    val_preds = np.zeros((X_val.shape[0], seed_range)) ## Array of the format (118108, 3)
    
    feature_importance_df = pd.DataFrame()
    feature_importance_df['feature'] = X_train.columns.tolist()
    feature_importance_df['gain_importance'] = 0
    feature_importance_df['split_importance'] = 0
    
    for i, s in enumerate(range(seed, seed + seed_range)):
        seed_everything(s)
        params = lgb_params.copy()  ## Creating a copy of the lgb_params defined above 
        params['seed'] = s # Assinging that seed to those parameters
        params['bagging_seed'] = s
        params['feature_fraction_seed'] = s

        clf = lgb.train(params, train_data, 10000, valid_sets = [train_data, val_data], categorical_feature=category_cols,
                        early_stopping_rounds=500, feval=eval_auc, verbose_eval=200)
         

        best_iteration = clf.best_iteration
        best_iteration_arr.append(best_iteration)
        val_pred = clf.predict(X_val, best_iteration)
        val_preds[:, i] = val_pred
        
        auc = fast_auc(y_val, val_pred)
        auc_arr.append(auc)
        print('seed:', s, ', auc:', auc, ', best_iteration:', best_iteration)

        feature_importance_df['gain_importance'] += clf.feature_importance('gain')/seed_range
        feature_importance_df['split_importance'] += clf.feature_importance('split')/seed_range

    auc_arr = np.array(auc_arr)
    best_iteration_arr = np.array(best_iteration_arr)
    best_iteration = int(np.mean(best_iteration_arr))

    avg_pred_auc = fast_auc(y_val, np.mean(val_preds, axis=1))
    print(f'avg pred auc: {avg_pred_auc:.5f}, avg auc: {np.mean(auc_arr):.5f}+/-{np.std(auc_arr):.5f}, avg best iteration: {best_iteration}')

    feature_importance_df = feature_importance_df.sort_values(by='split_importance', ascending=False).reset_index(drop=True)
    plot_feature_importance(feature_importance_df)
    display(feature_importance_df.head(20))
    
    return feature_importance_df, best_iteration, val_preds

In [23]:
%%time
X_train, X_val, category_cols1 = fe1(X_train, X_val)
fi_df, best_iteration1, val_preds = make_val_prediction(X_train, y_train, X_val, y_val, category_cols=category_cols1)

Rare data card1 5134
No intersection in Train card1 20399
Intersection in Train card1 452033
####################
Rare data ProductCD_card1 10509
No intersection in Train ProductCD_card1 33115
Intersection in Train ProductCD_card1 439317
####################
Rare data card1_addr1 21640
No intersection in Train card1_addr1 57867
Intersection in Train card1_addr1 414565
####################
Rare data TransactionAmt_dist2 29957
No intersection in Train TransactionAmt_dist2 70254
Intersection in Train TransactionAmt_dist2 402178
####################
No intersection in Train card2 6102
Intersection in Train card2 466330
####################
No intersection in Train card3 146
Intersection in Train card3 472286
####################
No intersection in Train card4 0
Intersection in Train card4 472432
####################
No intersection in Train card5 7339
Intersection in Train card5 465093
####################
No intersection in Train card6 45
Intersection in Train card6 472387
####################
##########
Most common uIds:
########## uid
W_9500_321.0_150.0_visa_226.0_debit_126.0_86.0      361
W_8900_385.0_150.0_visa_226.0_debit_231.0_61.0      232
C_12616_490.0_150.0_visa_nan_credit_nan_492.0       202
W_12741_106.0_150.0_visa_226.0_debit_143.0_203.0    196
W_8528_215.0_150.0_visa_226.0_debit_387.0_160.0     188
C_15885_545.0_185.0_visa_138.0_debit_nan_-21.0      169
W_7207_111.0_150.0_visa_226.0_debit_204.0_466.0     168
W_4121_361.0_150.0_visa_226.0_credit_476.0_9.0      137
C_15885_545.0_185.0_visa_138.0_debit_nan_-26.0      137
C_15885_545.0_185.0_visa_138.0_debit_nan_-19.0      134
Name: uid, dtype: int64
timeblock frequency encoding: uid_DT_W
timeblock frequency encoding: card3_card5_DT_W
timeblock frequency encoding: uid_DT_D
timeblock frequency encoding: card3_card5_DT_D
uid_aggregation: uid_D1_mean
uid_aggregation: uid_D1_std
uid_aggregation: card3_card5_D1_mean
uid_aggregation: card3_card5_D1_std
uid_aggregation: uid_D2_mean
uid_aggregation: uid_D2_std
uid_aggregation: card3_card5_D2_mean
uid_aggregation: card3_card5_D2_std
uid_aggregation: uid_D3_mean
uid_aggregation: uid_D3_std
uid_aggregation: card3_card5_D3_mean
uid_aggregation: card3_card5_D3_std
uid_aggregation: uid_D4_mean
uid_aggregation: uid_D4_std
uid_aggregation: card3_card5_D4_mean
uid_aggregation: card3_card5_D4_std
uid_aggregation: uid_D5_mean
uid_aggregation: uid_D5_std
uid_aggregation: card3_card5_D5_mean
uid_aggregation: card3_card5_D5_std
uid_aggregation: uid_D6_mean
uid_aggregation: uid_D6_std
uid_aggregation: card3_card5_D6_mean
uid_aggregation: card3_card5_D6_std
uid_aggregation: uid_D7_mean
uid_aggregation: uid_D7_std
uid_aggregation: card3_card5_D7_mean
uid_aggregation: card3_card5_D7_std
uid_aggregation: uid_D8_mean
uid_aggregation: uid_D8_std
uid_aggregation: card3_card5_D8_mean
uid_aggregation: card3_card5_D8_std
uid_aggregation: uid_D9_mean
uid_aggregation: uid_D9_std
uid_aggregation: card3_card5_D9_mean
uid_aggregation: card3_card5_D9_std
uid_aggregation: uid_D10_mean
uid_aggregation: uid_D10_std
uid_aggregation: card3_card5_D10_mean
uid_aggregation: card3_card5_D10_std
uid_aggregation: uid_D11_mean
uid_aggregation: uid_D11_std
uid_aggregation: card3_card5_D11_mean
uid_aggregation: card3_card5_D11_std
uid_aggregation: uid_D12_mean
uid_aggregation: uid_D12_std
uid_aggregation: card3_card5_D12_mean
uid_aggregation: card3_card5_D12_std
uid_aggregation: uid_D13_mean
uid_aggregation: uid_D13_std
uid_aggregation: card3_card5_D13_mean
uid_aggregation: card3_card5_D13_std
uid_aggregation: uid_D14_mean
uid_aggregation: uid_D14_std
uid_aggregation: card3_card5_D14_mean
uid_aggregation: card3_card5_D14_std
uid_aggregation: uid_D15_mean
uid_aggregation: uid_D15_std
uid_aggregation: card3_card5_D15_mean
uid_aggregation: card3_card5_D15_std
values_normalization: D3_DT_D
values_normalization: D4_DT_D
values_normalization: D5_DT_D
values_normalization: D6_DT_D
values_normalization: D7_DT_D
values_normalization: D8_DT_D
values_normalization: D10_DT_D
values_normalization: D11_DT_D
values_normalization: D12_DT_D
values_normalization: D13_DT_D
values_normalization: D14_DT_D
values_normalization: D15_DT_D
values_normalization: D3_DT_W
values_normalization: D4_DT_W
values_normalization: D5_DT_W
values_normalization: D6_DT_W
values_normalization: D7_DT_W
values_normalization: D8_DT_W
values_normalization: D10_DT_W
values_normalization: D11_DT_W
values_normalization: D12_DT_W
values_normalization: D13_DT_W
values_normalization: D14_DT_W
values_normalization: D15_DT_W
values_normalization: D3_DT_D
values_normalization: D4_DT_D
values_normalization: D5_DT_D
values_normalization: D6_DT_D
values_normalization: D7_DT_D
values_normalization: D8_DT_D
values_normalization: D10_DT_D
values_normalization: D11_DT_D
values_normalization: D12_DT_D
values_normalization: D13_DT_D
values_normalization: D14_DT_D
values_normalization: D15_DT_D
values_normalization: D3_DT_W
values_normalization: D4_DT_W
values_normalization: D5_DT_W
values_normalization: D6_DT_W
values_normalization: D7_DT_W
values_normalization: D8_DT_W
values_normalization: D10_DT_W
values_normalization: D11_DT_W
values_normalization: D12_DT_W
values_normalization: D13_DT_W
values_normalization: D14_DT_W
values_normalization: D15_DT_W
uid_aggregation: card1_TransactionAmt_mean
uid_aggregation: card1_TransactionAmt_std
uid_aggregation: card2_TransactionAmt_mean
uid_aggregation: card2_TransactionAmt_std
uid_aggregation: card3_TransactionAmt_mean
uid_aggregation: card3_TransactionAmt_std
uid_aggregation: card5_TransactionAmt_mean
uid_aggregation: card5_TransactionAmt_std
uid_aggregation: uid_TransactionAmt_mean
uid_aggregation: uid_TransactionAmt_std
uid_aggregation: card3_card5_TransactionAmt_mean
uid_aggregation: card3_card5_TransactionAmt_std
values_normalization: TransactionAmt_DT_D
values_normalization: TransactionAmt_DT_W
values_normalization: TransactionAmt_DT_D
values_normalization: TransactionAmt_DT_W
uid_aggregation: card1_id_01_mean
uid_aggregation: card1_id_01_std
uid_aggregation: card2_id_01_mean
uid_aggregation: card2_id_01_std
uid_aggregation: card3_id_01_mean
uid_aggregation: card3_id_01_std
uid_aggregation: card5_id_01_mean
uid_aggregation: card5_id_01_std
uid_aggregation: uid_id_01_mean
uid_aggregation: uid_id_01_std
uid_aggregation: card3_card5_id_01_mean
uid_aggregation: card3_card5_id_01_std
uid_aggregation: card1_id_02_mean
uid_aggregation: card1_id_02_std
uid_aggregation: card2_id_02_mean
uid_aggregation: card2_id_02_std
uid_aggregation: card3_id_02_mean
uid_aggregation: card3_id_02_std
uid_aggregation: card5_id_02_mean
uid_aggregation: card5_id_02_std
uid_aggregation: uid_id_02_mean
uid_aggregation: uid_id_02_std
uid_aggregation: card3_card5_id_02_mean
uid_aggregation: card3_card5_id_02_std
uid_aggregation: card1_id_05_mean
uid_aggregation: card1_id_05_std
uid_aggregation: card2_id_05_mean
uid_aggregation: card2_id_05_std
uid_aggregation: card3_id_05_mean
uid_aggregation: card3_id_05_std
uid_aggregation: card5_id_05_mean
uid_aggregation: card5_id_05_std
uid_aggregation: uid_id_05_mean
uid_aggregation: uid_id_05_std
uid_aggregation: card3_card5_id_05_mean
uid_aggregation: card3_card5_id_05_std
uid_aggregation: card1_id_06_mean
uid_aggregation: card1_id_06_std
uid_aggregation: card2_id_06_mean
uid_aggregation: card2_id_06_std
uid_aggregation: card3_id_06_mean
uid_aggregation: card3_id_06_std
uid_aggregation: card5_id_06_mean
uid_aggregation: card5_id_06_std
uid_aggregation: uid_id_06_mean
uid_aggregation: uid_id_06_std
uid_aggregation: card3_card5_id_06_mean
uid_aggregation: card3_card5_id_06_std
uid_aggregation: card1_id_09_mean
uid_aggregation: card1_id_09_std
uid_aggregation: card2_id_09_mean
uid_aggregation: card2_id_09_std
uid_aggregation: card3_id_09_mean
uid_aggregation: card3_id_09_std
uid_aggregation: card5_id_09_mean
uid_aggregation: card5_id_09_std
uid_aggregation: uid_id_09_mean
uid_aggregation: uid_id_09_std
uid_aggregation: card3_card5_id_09_mean
uid_aggregation: card3_card5_id_09_std
uid_aggregation: card1_id_14_mean
uid_aggregation: card1_id_14_std
uid_aggregation: card2_id_14_mean
uid_aggregation: card2_id_14_std
uid_aggregation: card3_id_14_mean
uid_aggregation: card3_id_14_std

uid_aggregation: card5_id_14_mean
uid_aggregation: card5_id_14_std
uid_aggregation: uid_id_14_mean
uid_aggregation: uid_id_14_std
uid_aggregation: card3_card5_id_14_mean
uid_aggregation: card3_card5_id_14_std
uid_aggregation: uid_V258_mean
uid_aggregation: uid_V258_std
uid_aggregation: card3_card5_V258_mean
uid_aggregation: card3_card5_V258_std
uid_aggregation: uid_V306_mean
uid_aggregation: uid_V306_std
uid_aggregation: card3_card5_V306_mean
uid_aggregation: card3_card5_V306_std
uid_aggregation: uid_V307_mean
uid_aggregation: uid_V307_std
uid_aggregation: card3_card5_V307_mean
uid_aggregation: card3_card5_V307_std
uid_aggregation: uid_V308_mean
uid_aggregation: uid_V308_std
uid_aggregation: card3_card5_V308_mean
uid_aggregation: card3_card5_V308_std
uid_aggregation: uid_V294_mean
uid_aggregation: uid_V294_std
uid_aggregation: card3_card5_V294_mean
uid_aggregation: card3_card5_V294_std
timeblock frequency encoding: ProductCD_TransactionAmt_DT_D
timeblock frequency encoding: ProductCD_TransactionAmt_DT_W
timeblock frequency encoding: ProductCD_cents_DT_D
timeblock frequency encoding: ProductCD_cents_DT_W
uid_aggregation: card1_C1_mean
uid_aggregation: card1_C1_std
uid_aggregation: card2_C1_mean
uid_aggregation: card2_C1_std
uid_aggregation: card3_C1_mean
uid_aggregation: card3_C1_std
uid_aggregation: card5_C1_mean
uid_aggregation: card5_C1_std
uid_aggregation: uid_C1_mean
uid_aggregation: uid_C1_std
uid_aggregation: card3_card5_C1_mean
uid_aggregation: card3_card5_C1_std
uid_aggregation: card1_C2_mean
uid_aggregation: card1_C2_std
uid_aggregation: card2_C2_mean
uid_aggregation: card2_C2_std
uid_aggregation: card3_C2_mean
uid_aggregation: card3_C2_std
uid_aggregation: card5_C2_mean
uid_aggregation: card5_C2_std
uid_aggregation: uid_C2_mean
uid_aggregation: uid_C2_std
uid_aggregation: card3_card5_C2_mean
uid_aggregation: card3_card5_C2_std
uid_aggregation: card1_C3_mean
uid_aggregation: card1_C3_std
uid_aggregation: card2_C3_mean
uid_aggregation: card2_C3_std
uid_aggregation: card3_C3_mean
uid_aggregation: card3_C3_std
uid_aggregation: card5_C3_mean
uid_aggregation: card5_C3_std
uid_aggregation: uid_C3_mean
uid_aggregation: uid_C3_std
uid_aggregation: card3_card5_C3_mean
uid_aggregation: card3_card5_C3_std
uid_aggregation: card1_C4_mean
uid_aggregation: card1_C4_std
uid_aggregation: card2_C4_mean
uid_aggregation: card2_C4_std
uid_aggregation: card3_C4_mean
uid_aggregation: card3_C4_std
uid_aggregation: card5_C4_mean
uid_aggregation: card5_C4_std
uid_aggregation: uid_C4_mean
uid_aggregation: uid_C4_std
uid_aggregation: card3_card5_C4_mean
uid_aggregation: card3_card5_C4_std
uid_aggregation: card1_C5_mean
uid_aggregation: card1_C5_std
uid_aggregation: card2_C5_mean
uid_aggregation: card2_C5_std
uid_aggregation: card3_C5_mean
uid_aggregation: card3_C5_std
uid_aggregation: card5_C5_mean
uid_aggregation: card5_C5_std
uid_aggregation: uid_C5_mean
uid_aggregation: uid_C5_std
uid_aggregation: card3_card5_C5_mean
uid_aggregation: card3_card5_C5_std
uid_aggregation: card1_C6_mean
uid_aggregation: card1_C6_std
uid_aggregation: card2_C6_mean
uid_aggregation: card2_C6_std
uid_aggregation: card3_C6_mean
uid_aggregation: card3_C6_std
uid_aggregation: card5_C6_mean
uid_aggregation: card5_C6_std
uid_aggregation: uid_C6_mean
uid_aggregation: uid_C6_std
uid_aggregation: card3_card5_C6_mean
uid_aggregation: card3_card5_C6_std
uid_aggregation: card1_C7_mean
uid_aggregation: card1_C7_std
uid_aggregation: card2_C7_mean
uid_aggregation: card2_C7_std
uid_aggregation: card3_C7_mean
uid_aggregation: card3_C7_std
uid_aggregation: card5_C7_mean
uid_aggregation: card5_C7_std
uid_aggregation: uid_C7_mean
uid_aggregation: uid_C7_std
uid_aggregation: card3_card5_C7_mean
uid_aggregation: card3_card5_C7_std
uid_aggregation: card1_C8_mean
uid_aggregation: card1_C8_std
uid_aggregation: card2_C8_mean
uid_aggregation: card2_C8_std
uid_aggregation: card3_C8_mean
uid_aggregation: card3_C8_std
uid_aggregation: card5_C8_mean
uid_aggregation: card5_C8_std
uid_aggregation: uid_C8_mean
uid_aggregation: uid_C8_std
uid_aggregation: card3_card5_C8_mean
uid_aggregation: card3_card5_C8_std
uid_aggregation: card1_C9_mean
uid_aggregation: card1_C9_std
uid_aggregation: card2_C9_mean
uid_aggregation: card2_C9_std
uid_aggregation: card3_C9_mean
uid_aggregation: card3_C9_std
uid_aggregation: card5_C9_mean
uid_aggregation: card5_C9_std
uid_aggregation: uid_C9_mean
uid_aggregation: uid_C9_std
uid_aggregation: card3_card5_C9_mean
uid_aggregation: card3_card5_C9_std
uid_aggregation: card1_C10_mean
uid_aggregation: card1_C10_std
uid_aggregation: card2_C10_mean
uid_aggregation: card2_C10_std
uid_aggregation: card3_C10_mean
uid_aggregation: card3_C10_std
uid_aggregation: card5_C10_mean
uid_aggregation: card5_C10_std
uid_aggregation: uid_C10_mean
uid_aggregation: uid_C10_std
uid_aggregation: card3_card5_C10_mean
uid_aggregation: card3_card5_C10_std
uid_aggregation: card1_C11_mean
uid_aggregation: card1_C11_std
uid_aggregation: card2_C11_mean
uid_aggregation: card2_C11_std
uid_aggregation: card3_C11_mean
uid_aggregation: card3_C11_std
uid_aggregation: card5_C11_mean
uid_aggregation: card5_C11_std
uid_aggregation: uid_C11_mean
uid_aggregation: uid_C11_std
uid_aggregation: card3_card5_C11_mean
uid_aggregation: card3_card5_C11_std
uid_aggregation: card1_C12_mean
uid_aggregation: card1_C12_std
uid_aggregation: card2_C12_mean
uid_aggregation: card2_C12_std
uid_aggregation: card3_C12_mean
uid_aggregation: card3_C12_std
uid_aggregation: card5_C12_mean
uid_aggregation: card5_C12_std
uid_aggregation: uid_C12_mean
uid_aggregation: uid_C12_std
uid_aggregation: card3_card5_C12_mean
uid_aggregation: card3_card5_C12_std
uid_aggregation: card1_C13_mean
uid_aggregation: card1_C13_std
uid_aggregation: card2_C13_mean
uid_aggregation: card2_C13_std
uid_aggregation: card3_C13_mean
uid_aggregation: card3_C13_std
uid_aggregation: card5_C13_mean
uid_aggregation: card5_C13_std
uid_aggregation: uid_C13_mean
uid_aggregation: uid_C13_std
uid_aggregation: card3_card5_C13_mean
uid_aggregation: card3_card5_C13_std
uid_aggregation: card1_C14_mean
uid_aggregation: card1_C14_std
uid_aggregation: card2_C14_mean
uid_aggregation: card2_C14_std
uid_aggregation: card3_C14_mean
uid_aggregation: card3_C14_std
uid_aggregation: card5_C14_mean
uid_aggregation: card5_C14_std
uid_aggregation: uid_C14_mean
uid_aggregation: uid_C14_std
uid_aggregation: card3_card5_C14_mean
uid_aggregation: card3_card5_C14_std
uid_aggregation: card1_dist1_mean
uid_aggregation: card1_dist1_std
uid_aggregation: card2_dist1_mean
uid_aggregation: card2_dist1_std
uid_aggregation: card3_dist1_mean
uid_aggregation: card3_dist1_std
uid_aggregation: card5_dist1_mean
uid_aggregation: card5_dist1_std
uid_aggregation: uid_dist1_mean
uid_aggregation: uid_dist1_std
uid_aggregation: card3_card5_dist1_mean
uid_aggregation: card3_card5_dist1_std
processing nan group agg for: ['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11']
processing nan group agg for: ['V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34']
processing nan group agg for: ['V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52']
processing nan group agg for: ['V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74']
processing nan group agg for: ['V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94']
processing nan group agg for: ['V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137']
processing nan group agg for: ['V138', 'V139', 'V140', 'V141', 'V142', 'V146', 'V147', 'V148', 'V149', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V161', 'V162', 'V163']

processing nan group agg for: ['V143', 'V144', 'V145', 'V150', 'V151', 'V152', 'V159', 'V160', 'V164', 'V165', 'V166']
processing nan group agg for: ['V167', 'V168', 'V172', 'V173', 'V176', 'V177', 'V178', 'V179', 'V181', 'V182', 'V183', 'V186', 'V187', 'V190', 'V191', 'V192', 'V193', 'V196', 'V199', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216']
processing nan group agg for: ['V169', 'V170', 'V171', 'V174', 'V175', 'V180', 'V184', 'V185', 'V188', 'V189', 'V194', 'V195', 'V197', 'V198', 'V200', 'V201', 'V208', 'V209', 'V210']
processing nan group agg for: ['V217', 'V218', 'V219', 'V223', 'V224', 'V225', 'V226', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V235', 'V236', 'V237', 'V240', 'V241', 'V242', 'V243', 'V244', 'V246', 'V247', 'V248', 'V249', 'V252', 'V253', 'V254', 'V257', 'V258', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278']
processing nan group agg for: ['V220', 'V221', 'V222', 'V227', 'V234', 'V238', 'V239', 'V245', 'V250', 'V251', 'V255', 'V256', 'V259', 'V270', 'V271', 'V272']
processing nan group agg for: ['V279', 'V280', 'V284', 'V285', 'V286', 'V287', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V297', 'V298', 'V299', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321']
processing nan group agg for: ['V281', 'V282', 'V283', 'V288', 'V289', 'V296', 'V300', 'V301', 'V313', 'V314', 'V315']
processing nan group agg for: ['V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']
remove_features: ['TransactionID', 'TransactionDT', 'DT', 'DT_M', 'DT_W', 'DT_D', 'DT_hour', 'DT_day_week', 'DT_day_month', 'DT_D_FE_FULL', 'ProductCD_card1', 'card1_addr1', 'TransactionAmt_dist2', 'uid', 'card3_card5', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'ProductCD_TransactionAmt', 'cents', 'ProductCD_cents', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339', 'DeviceInfo', 'DeviceInfo_device', 'DeviceInfo_version', 'id_30', 'id_30_device', 'id_30_version', 'id_31', 'id_31_device', 'id_33', 'D5_DT_W_std_score', 'ProductCD_TransactionAmt_DT_W', 'D4_DT_D_std_score', 'D15_DT_D_std_score', 'D3_DT_W_std_score', 'D11_DT_W_std_score', 'card3_card5_DT_W_week_day_dist', 'card5_DT_W_week_day_dist', 'D10_DT_D_std_score', 'card3_card5_DT_D', 'ProductCD_cents_DT_D', 'D4_DT_W_std_score', 'D15_DT_W_std_score', 'uid_DT_D', 'card3_DT_W_week_day_dist', 'D10_DT_W_std_score', 'D8_DT_D_std_score', 'card3_card5_DT_W', 'ProductCD_cents_DT_W', 'uid_DT_W', 'D8_DT_W_std_score']
train.shape : (472432, 990), test.shape : (118108, 993)
Wall time: 16min 17s

In [ ]:
%% time
fi_df, best_iteration1, val_preds = make_val_prediction(X_train, y_train, X_val, y_val, category_cols=category_cols1)