In [85]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pylab as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")
import scipy as sp
from scipy import stats

from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, roc_auc_score
from sklearn.model_selection import StratifiedKFold, cross_val_score, KFold
from xgboost import XGBClassifier
import xgboost as xgb
import datetime
from sklearn.preprocessing import LabelEncoder

import os
import gc
import random

%matplotlib inline

pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
pd.options.display.max_colwidth = 1000

In [2]:
%%time
path = "I:/ML Datasets/IEEE Fradulent/train_identity.csv"
train_identity = pd.read_csv(path)

path = "I:/ML Datasets/IEEE Fradulent/train_transaction.csv"
train_transaction = pd.read_csv(path)

path = "I:/ML Datasets/IEEE Fradulent/test_identity.csv"
test_identity= pd.read_csv(path)

path = "I:/ML Datasets/IEEE Fradulent/test_transaction.csv"
test_transaction = pd.read_csv(path)

train = train_transaction.merge(train_identity, how='left', on='TransactionID')
test = test_transaction.merge(test_identity, how='left', on='TransactionID')

#path = "/content/drive/My Drive/Dataset/IEEE Fradulent/sample_submission.csv"
#df_submission = pd.read_csv(path)

Wall time: 1min 24s

In [3]:
ccols = [f'C{i}' for i in range(1,15)] ## Creating columns C1,C2....C14
dcols = [f'D{i}' for i in range(1,16)] ## Creating columns D1,D2....D14

cols = [
    'TransactionID','isFraud','TransactionDT','TransactionAmt','ProductCD',
    'card1','card2','card3','card4','card5','card6',
    'addr1','addr2','dist1','dist2',
    'P_emaildomain','R_emaildomain',
    
]

cols += dcols
cols += ccols

In [5]:
test[ccols].isna().sum()  ## Finding all those C columns that have Na values and replacing them with 0's//
#Note: the train columns (C1-C14) have no Nan values and therefore they dont have to be changed

C1        3
C2        3
C3        3
C4        3
C5        3
C6        3
C7        3
C8        3
C9        3
C10       3
C11       3
C12       3
C13    4748
C14       3
dtype: int64

In [9]:
test[ccols] = test[ccols].fillna(0)
test[ccols].isna().sum()

C1     0
C2     0
C3     0
C4     0
C5     0
C6     0
C7     0
C8     0
C9     0
C10    0
C11    0
C12    0
C13    0
C14    0
dtype: int64

In [10]:
## Had to rename these columns because there were differnt in the test and the train columns

test =  test.rename(columns = {'id-01':'id_01', 'id-02':'id_02', 'id-03':'id_03', 'id-04':'id_04', 'id-05':'id_05', 'id-06':'id_06','id-07':'id_07','id-08':'id_08',
     'id-09':'id_09','id-10':'id_10','id-11':'id_11', 'id-12':'id_12', 'id-13':'id_13', 'id-14':'id_14', 'id-15':'id_15', 'id-16':'id_16',
       'id-17':'id_17', 'id-18':'id_18','id-19':'id_19', 'id-20':'id_20', 'id-21':'id_21','id-22':'id_22','id-23':'id_23', 'id-24':'id_24',
      'id-25':'id_25', 'id-26':'id_26', 'id-27':'id_27', 'id-28':'id_28', 'id-29':'id_29','id-30':'id_30','id-31':'id_31','id-32':'id_32',
      'id-33':'id_33','id-34':'id_34', 'id-35':'id_35','id-36':'id_36','id-37':'id_37','id-38':'id_38'})

In [11]:
test['isFraud'] = 0
#test = test[train.columns]

train_test = pd.concat([train, test], axis=0)
print(train_test.shape)

del train, test
gc.collect()

(1097231, 434)

105

As to the reason why we are using this function to reduce memory usage there is a briliiant article on this in the website
https://www.kaggle.com/alexeykupershtokh/safe-memory-reduction

In [12]:
# safe downcast
def sd(col, max_loss_limit=0.001, avg_loss_limit=0.001, na_loss_limit=0, n_uniq_loss_limit=0, fillna=0):
    """
    max_loss_limit - don't allow any float to lose precision more than this value. Any values are ok for GBT algorithms as long as you don't unique values.
                     See https://en.wikipedia.org/wiki/Half-precision_floating-point_format#Precision_limitations_on_decimal_values_in_[0,_1]
    avg_loss_limit - same but calculates avg throughout the series.
    na_loss_limit - not really useful.
    n_uniq_loss_limit - very important parameter. If you have a float field with very high cardinality(high number of unique
    values) you can set this value to something like n_records * 0.01 in order to allow some field relaxing.
    """
    is_float = str(col.dtypes)[:5] == 'float'
    na_count = col.isna().sum()
    n_uniq = col.nunique(dropna=False)
    try_types = ['float16', 'float32']

    if na_count <= na_loss_limit:
        try_types = ['int8', 'int16', 'float16', 'int32', 'float32']

    for type in try_types:
        col_tmp = col

        # float to int conversion => try to round to minimize casting error
        if is_float and (str(type)[:3] == 'int'):
            col_tmp = col_tmp.copy().fillna(fillna).round()

        col_tmp = col_tmp.astype(type)
        max_loss = (col_tmp - col).abs().max()
        avg_loss = (col_tmp - col).abs().mean()
        na_loss = np.abs(na_count - col_tmp.isna().sum())
        n_uniq_loss = np.abs(n_uniq - col_tmp.nunique(dropna=False))

        if max_loss <= max_loss_limit and avg_loss <= avg_loss_limit and na_loss <= na_loss_limit and n_uniq_loss <= n_uniq_loss_limit:
            return col_tmp

    # field can't be converted
    return col

In [14]:
def reduce_mem_usage_sd(df, deep=True, verbose=False, obj_to_cat=False):
    numerics = ['int16', 'uint16', 'int32', 'uint32', 'int64', 'uint64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage(deep=deep).sum() / 1024 ** 2
    for col in df.columns:
        col_type = df[col].dtypes

        # collect stats
        na_count = df[col].isna().sum()
        n_uniq = df[col].nunique(dropna=False)
        
        # numerics
        if col_type in numerics:
            df[col] = sd(df[col])

        # strings
        if (col_type == 'object') and obj_to_cat:
            df[col] = df[col].astype('category')
        
        if verbose:
            print(f'Column {col}: {col_type} -> {df[col].dtypes}, na_count={na_count}, n_uniq={n_uniq}')
        new_na_count = df[col].isna().sum()
        if (na_count != new_na_count):
            print(f'Warning: column {col}, {col_type} -> {df[col].dtypes} lost na values. Before: {na_count}, after: {new_na_count}')
        new_n_uniq = df[col].nunique(dropna=False)
        if (n_uniq != new_n_uniq):
            print(f'Warning: column {col}, {col_type} -> {df[col].dtypes} lost unique values. Before: {n_uniq}, after: {new_n_uniq}')

    end_mem = df.memory_usage(deep=deep).sum() / 1024 ** 2
    percent = 100 * (start_mem - end_mem) / start_mem
    if verbose:
        print('Mem. usage decreased from {:5.2f} Mb to {:5.2f} Mb ({:.1f}% reduction)'.format(start_mem, end_mem, percent))
    return df

In [15]:
train_test = reduce_mem_usage_sd(train_test, verbose=True)

Column C1: float64 -> int16, na_count=0, n_uniq=2187
Column C10: float64 -> int16, na_count=0, n_uniq=1387
Column C11: float64 -> int16, na_count=0, n_uniq=1834
Column C12: float64 -> int16, na_count=0, n_uniq=1530
Column C13: float64 -> int16, na_count=0, n_uniq=1691
Column C14: float64 -> int16, na_count=0, n_uniq=1150
Column C2: float64 -> int16, na_count=0, n_uniq=1784
Column C3: float64 -> int8, na_count=0, n_uniq=32
Column C4: float64 -> int16, na_count=0, n_uniq=1532
Column C5: float64 -> int16, na_count=0, n_uniq=353
Column C6: float64 -> int16, na_count=0, n_uniq=1574
Column C7: float64 -> int16, na_count=0, n_uniq=1335
Column C8: float64 -> int16, na_count=0, n_uniq=1419
Column C9: float64 -> int16, na_count=0, n_uniq=360
Column D1: float64 -> float16, na_count=7300, n_uniq=643
Column D10: float64 -> float16, na_count=88567, n_uniq=1076
Column D11: float64 -> float16, na_count=455805, n_uniq=888
Column D12: float64 -> float16, na_count=963260, n_uniq=869
Column D13: float64 -> float16, na_count=911895, n_uniq=828
Column D14: float64 -> float16, na_count=919850, n_uniq=1037
Column D15: float64 -> float16, na_count=101182, n_uniq=1092
Column D2: float64 -> float16, na_count=515566, n_uniq=643
Column D3: float64 -> float16, na_count=466020, n_uniq=889
Column D4: float64 -> float16, na_count=245773, n_uniq=1070
Column D5: float64 -> float16, na_count=534216, n_uniq=962
Column D6: float64 -> float16, na_count=899261, n_uniq=1077
Column D7: float64 -> float16, na_count=998181, n_uniq=906
Column D8: float64 -> float32, na_count=947967, n_uniq=17083
Column D9: float64 -> float16, na_count=947967, n_uniq=25
Column DeviceInfo: object -> object, na_count=863508, n_uniq=2800
Column DeviceType: object -> object, na_count=819490, n_uniq=3
Column M1: object -> object, na_count=447739, n_uniq=3
Column M2: object -> object, na_count=447739, n_uniq=3
Column M3: object -> object, na_count=447739, n_uniq=3
Column M4: object -> object, na_count=519189, n_uniq=4
Column M5: object -> object, na_count=660114, n_uniq=3
Column M6: object -> object, na_count=328299, n_uniq=3
Column M7: object -> object, na_count=581283, n_uniq=3
Column M8: object -> object, na_count=581256, n_uniq=3
Column M9: object -> object, na_count=581256, n_uniq=3
Column P_emaildomain: object -> object, na_count=163648, n_uniq=61
Column ProductCD: object -> object, na_count=0, n_uniq=5
Column R_emaildomain: object -> object, na_count=824070, n_uniq=61
Column TransactionAmt: float64 -> float32, na_count=0, n_uniq=29806
Column TransactionDT: int64 -> int32, na_count=0, n_uniq=1068035
Column TransactionID: int64 -> int32, na_count=0, n_uniq=1097231
Column V1: float64 -> float16, na_count=455805, n_uniq=3
Column V10: float64 -> float16, na_count=455805, n_uniq=7
Column V100: float64 -> float16, na_count=314, n_uniq=32
Column V101: float64 -> float16, na_count=314, n_uniq=871
Column V102: float64 -> float16, na_count=314, n_uniq=1286
Column V103: float64 -> float16, na_count=314, n_uniq=929
Column V104: float64 -> float16, na_count=314, n_uniq=61
Column V105: float64 -> float16, na_count=314, n_uniq=101
Column V106: float64 -> float16, na_count=314, n_uniq=82
Column V107: float64 -> float16, na_count=314, n_uniq=3
Column V108: float64 -> float16, na_count=314, n_uniq=10
Column V109: float64 -> float16, na_count=314, n_uniq=10
Column V11: float64 -> float16, na_count=455805, n_uniq=9
Column V110: float64 -> float16, na_count=314, n_uniq=10
Column V111: float64 -> float16, na_count=314, n_uniq=11
Column V112: float64 -> float16, na_count=314, n_uniq=11
Column V113: float64 -> float16, na_count=314, n_uniq=11
Column V114: float64 -> float16, na_count=314, n_uniq=11
Column V115: float64 -> float16, na_count=314, n_uniq=11
Column V116: float64 -> float16, na_count=314, n_uniq=11
Column V117: float64 -> float16, na_count=314, n_uniq=5
Column V118: float64 -> float16, na_count=314, n_uniq=5
Column V119: float64 -> float16, na_count=314, n_uniq=5
Column V12: float64 -> float16, na_count=88662, n_uniq=6
Column V120: float64 -> float16, na_count=314, n_uniq=6
Column V121: float64 -> float16, na_count=314, n_uniq=6
Column V122: float64 -> float16, na_count=314, n_uniq=6
Column V123: float64 -> float16, na_count=314, n_uniq=15
Column V124: float64 -> float16, na_count=314, n_uniq=15
Column V125: float64 -> float16, na_count=314, n_uniq=15
Column V126: float64 -> float32, na_count=314, n_uniq=15136
Column V127: float64 -> float32, na_count=314, n_uniq=33547
Column V128: float64 -> float32, na_count=314, n_uniq=20511
Column V129: float64 -> float32, na_count=314, n_uniq=2639
Column V13: float64 -> float16, na_count=88662, n_uniq=8
Column V130: float64 -> float32, na_count=314, n_uniq=16251
Column V131: float64 -> float32, na_count=314, n_uniq=5790
Column V132: float64 -> float32, na_count=314, n_uniq=9304
Column V133: float64 -> float32, na_count=314, n_uniq=13669
Column V134: float64 -> float32, na_count=314, n_uniq=11315
Column V135: float64 -> float32, na_count=314, n_uniq=6276
Column V136: float64 -> float32, na_count=314, n_uniq=8208
Column V137: float64 -> float32, na_count=314, n_uniq=7139
Column V138: float64 -> float16, na_count=939501, n_uniq=24
Column V139: float64 -> float16, na_count=939501, n_uniq=35
Column V14: float64 -> float16, na_count=88662, n_uniq=3
Column V140: float64 -> float16, na_count=939501, n_uniq=61
Column V141: float64 -> float16, na_count=939501, n_uniq=8
Column V142: float64 -> float16, na_count=939501, n_uniq=13
Column V143: float64 -> float16, na_count=939225, n_uniq=871
Column V144: float64 -> float16, na_count=939225, n_uniq=87
Column V145: float64 -> float16, na_count=939225, n_uniq=299
Column V146: float64 -> float16, na_count=939501, n_uniq=26
Column V147: float64 -> float16, na_count=939501, n_uniq=28
Column V148: float64 -> float16, na_count=939501, n_uniq=22
Column V149: float64 -> float16, na_count=939501, n_uniq=22
Column V15: float64 -> float16, na_count=88662, n_uniq=14
Column V150: float64 -> float32, na_count=939225, n_uniq=3294
Column V151: float64 -> float16, na_count=939225, n_uniq=59
Column V152: float64 -> float16, na_count=939225, n_uniq=45
Column V153: float64 -> float16, na_count=939501, n_uniq=20
Column V154: float64 -> float16, na_count=939501, n_uniq=20
Column V155: float64 -> float16, na_count=939501, n_uniq=26
Column V156: float64 -> float16, na_count=939501, n_uniq=26
Column V157: float64 -> float16, na_count=939501, n_uniq=26
Column V158: float64 -> float16, na_count=939501, n_uniq=26
Column V159: float64 -> float32, na_count=939225, n_uniq=12643
Column V16: float64 -> float16, na_count=88662, n_uniq=24
Column V160: float64 -> float32, na_count=939225, n_uniq=17183
Column V161: float64 -> float32, na_count=939501, n_uniq=106
Column V162: float64 -> float32, na_count=939501, n_uniq=290
Column V163: float64 -> float32, na_count=939501, n_uniq=154
Column V164: float64 -> float32, na_count=939225, n_uniq=2751
Column V165: float64 -> float32, na_count=939225, n_uniq=3800
Column V166: float64 -> float32, na_count=939225, n_uniq=2262
Column V167: float64 -> float16, na_count=820866, n_uniq=874
Column V168: float64 -> float16, na_count=820866, n_uniq=966
Column V169: float64 -> float16, na_count=821037, n_uniq=41
Column V17: float64 -> float16, na_count=88662, n_uniq=17
Column V170: float64 -> float16, na_count=821037, n_uniq=65
Column V171: float64 -> float16, na_count=821037, n_uniq=70
Column V172: float64 -> float16, na_count=820866, n_uniq=39
Column V173: float64 -> float16, na_count=820866, n_uniq=11
Column V174: float64 -> float16, na_count=821037, n_uniq=10
Column V175: float64 -> float16, na_count=821037, n_uniq=24
Column V176: float64 -> float16, na_count=820866, n_uniq=241
Column V177: float64 -> float16, na_count=820866, n_uniq=863
Column V178: float64 -> float16, na_count=820866, n_uniq=1237
Column V179: float64 -> float16, na_count=820866, n_uniq=922
Column V18: float64 -> float16, na_count=88662, n_uniq=17
Column V180: float64 -> float16, na_count=821037, n_uniq=181
Column V181: float64 -> float16, na_count=820866, n_uniq=87
Column V182: float64 -> float16, na_count=820866, n_uniq=127
Column V183: float64 -> float16, na_count=820866, n_uniq=108

Column V184: float64 -> float16, na_count=821037, n_uniq=18
Column V185: float64 -> float16, na_count=821037, n_uniq=33
Column V186: float64 -> float16, na_count=820866, n_uniq=41
Column V187: float64 -> float16, na_count=820866, n_uniq=216
Column V188: float64 -> float16, na_count=821037, n_uniq=46
Column V189: float64 -> float16, na_count=821037, n_uniq=46
Column V19: float64 -> float16, na_count=88662, n_uniq=14
Column V190: float64 -> float16, na_count=820866, n_uniq=226
Column V191: float64 -> float16, na_count=820866, n_uniq=23
Column V192: float64 -> float16, na_count=820866, n_uniq=46
Column V193: float64 -> float16, na_count=820866, n_uniq=39
Column V194: float64 -> float16, na_count=821037, n_uniq=9
Column V195: float64 -> float16, na_count=821037, n_uniq=20
Column V196: float64 -> float16, na_count=820866, n_uniq=43
Column V197: float64 -> float16, na_count=821037, n_uniq=16
Column V198: float64 -> float16, na_count=821037, n_uniq=30
Column V199: float64 -> float16, na_count=820866, n_uniq=226
Column V2: float64 -> float16, na_count=455805, n_uniq=13
Column V20: float64 -> float16, na_count=88662, n_uniq=24
Column V200: float64 -> float16, na_count=821037, n_uniq=49
Column V201: float64 -> float16, na_count=821037, n_uniq=57
Column V202: float64 -> float32, na_count=820866, n_uniq=18619
Column V203: float64 -> float32, na_count=820866, n_uniq=26291
Column V204: float64 -> float32, na_count=820866, n_uniq=22356
Column V205: float64 -> float32, na_count=820866, n_uniq=3658
Column V206: float64 -> float32, na_count=820866, n_uniq=2968
Column V207: float64 -> float32, na_count=820866, n_uniq=5254
Column V208: float64 -> float32, na_count=821037, n_uniq=4081
Column V209: float64 -> float32, na_count=821037, n_uniq=5927
Column V21: float64 -> float16, na_count=88662, n_uniq=7
Column V210: float64 -> float32, na_count=821037, n_uniq=4675
Column V211: float64 -> float32, na_count=820866, n_uniq=13032
Column V212: float64 -> float32, na_count=820866, n_uniq=15640
Column V213: float64 -> float32, na_count=820866, n_uniq=14583
Column V214: float64 -> float32, na_count=820866, n_uniq=3817
Column V215: float64 -> float32, na_count=820866, n_uniq=4665
Column V216: float64 -> float32, na_count=820866, n_uniq=4196
Column V217: float64 -> float16, na_count=840073, n_uniq=305
Column V218: float64 -> float16, na_count=840073, n_uniq=402
Column V219: float64 -> float16, na_count=840073, n_uniq=380
Column V22: float64 -> float16, na_count=88662, n_uniq=10
Column V220: float64 -> float16, na_count=818499, n_uniq=45
Column V221: float64 -> float16, na_count=818499, n_uniq=86
Column V222: float64 -> float16, na_count=818499, n_uniq=294
Column V223: float64 -> float16, na_count=840073, n_uniq=18
Column V224: float64 -> float16, na_count=840073, n_uniq=92
Column V225: float64 -> float16, na_count=840073, n_uniq=38
Column V226: float64 -> float16, na_count=840073, n_uniq=114
Column V227: float64 -> float16, na_count=818499, n_uniq=69
Column V228: float64 -> float16, na_count=840073, n_uniq=241
Column V229: float64 -> float16, na_count=840073, n_uniq=264
Column V23: float64 -> float16, na_count=88662, n_uniq=17
Column V230: float64 -> float16, na_count=840073, n_uniq=264
Column V231: float64 -> float16, na_count=840073, n_uniq=295
Column V232: float64 -> float16, na_count=840073, n_uniq=339
Column V233: float64 -> float16, na_count=840073, n_uniq=334
Column V234: float64 -> float16, na_count=818499, n_uniq=309
Column V235: float64 -> float16, na_count=840073, n_uniq=25
Column V236: float64 -> float16, na_count=840073, n_uniq=56
Column V237: float64 -> float16, na_count=840073, n_uniq=41
Column V238: float64 -> float16, na_count=818499, n_uniq=25
Column V239: float64 -> float16, na_count=818499, n_uniq=25
Column V24: float64 -> float16, na_count=88662, n_uniq=27
Column V240: float64 -> float16, na_count=840073, n_uniq=8
Column V241: float64 -> float16, na_count=840073, n_uniq=7
Column V242: float64 -> float16, na_count=840073, n_uniq=29
Column V243: float64 -> float16, na_count=840073, n_uniq=59
Column V244: float64 -> float16, na_count=840073, n_uniq=35
Column V245: float64 -> float16, na_count=818499, n_uniq=70
Column V246: float64 -> float16, na_count=840073, n_uniq=226
Column V247: float64 -> float16, na_count=840073, n_uniq=20
Column V248: float64 -> float16, na_count=840073, n_uniq=32
Column V249: float64 -> float16, na_count=840073, n_uniq=24
Column V25: float64 -> float16, na_count=88662, n_uniq=14
Column V250: float64 -> float16, na_count=818499, n_uniq=20
Column V251: float64 -> float16, na_count=818499, n_uniq=20
Column V252: float64 -> float16, na_count=840073, n_uniq=26
Column V253: float64 -> float16, na_count=840073, n_uniq=106
Column V254: float64 -> float16, na_count=840073, n_uniq=56
Column V255: float64 -> float16, na_count=818499, n_uniq=53
Column V256: float64 -> float16, na_count=818499, n_uniq=57
Column V257: float64 -> float16, na_count=840073, n_uniq=226
Column V258: float64 -> float16, na_count=840073, n_uniq=271
Column V259: float64 -> float16, na_count=818499, n_uniq=78
Column V26: float64 -> float16, na_count=88662, n_uniq=24
Column V260: float64 -> float16, na_count=840073, n_uniq=16
Column V261: float64 -> float16, na_count=840073, n_uniq=74
Column V262: float64 -> float16, na_count=840073, n_uniq=33
Column V263: float64 -> float32, na_count=840073, n_uniq=18232
Column V264: float64 -> float32, na_count=840073, n_uniq=23850
Column V265: float64 -> float32, na_count=840073, n_uniq=20862
Column V266: float64 -> float32, na_count=840073, n_uniq=3614
Column V267: float64 -> float32, na_count=840073, n_uniq=6124
Column V268: float64 -> float32, na_count=840073, n_uniq=4564
Column V269: float64 -> float32, na_count=840073, n_uniq=227
Column V27: float64 -> float16, na_count=88662, n_uniq=9
Column V270: float64 -> float32, na_count=818499, n_uniq=3820
Column V271: float64 -> float32, na_count=818499, n_uniq=4798
Column V272: float64 -> float32, na_count=818499, n_uniq=4160
Column V273: float64 -> float32, na_count=840073, n_uniq=12866
Column V274: float64 -> float32, na_count=840073, n_uniq=15112
Column V275: float64 -> float32, na_count=840073, n_uniq=14144
Column V276: float64 -> float32, na_count=840073, n_uniq=3741
Column V277: float64 -> float32, na_count=840073, n_uniq=4209
Column V278: float64 -> float32, na_count=840073, n_uniq=3961
Column V279: float64 -> float16, na_count=15, n_uniq=882
Column V28: float64 -> float16, na_count=88662, n_uniq=9
Column V280: float64 -> float16, na_count=15, n_uniq=976
Column V281: float64 -> float16, na_count=7300, n_uniq=32
Column V282: float64 -> float16, na_count=7300, n_uniq=65
Column V283: float64 -> float16, na_count=7300, n_uniq=70
Column V284: float64 -> float16, na_count=15, n_uniq=14
Column V285: float64 -> float16, na_count=15, n_uniq=97
Column V286: float64 -> float16, na_count=15, n_uniq=10
Column V287: float64 -> float16, na_count=15, n_uniq=33
Column V288: float64 -> float16, na_count=7300, n_uniq=12
Column V289: float64 -> float16, na_count=7300, n_uniq=14
Column V29: float64 -> float16, na_count=88662, n_uniq=7
Column V290: float64 -> float16, na_count=15, n_uniq=62
Column V291: float64 -> float16, na_count=15, n_uniq=316
Column V292: float64 -> float16, na_count=15, n_uniq=193
Column V293: float64 -> float16, na_count=15, n_uniq=871
Column V294: float64 -> float16, na_count=15, n_uniq=1287
Column V295: float64 -> float16, na_count=15, n_uniq=929
Column V296: float64 -> float16, na_count=7300, n_uniq=181
Column V297: float64 -> float16, na_count=15, n_uniq=87
Column V298: float64 -> float16, na_count=15, n_uniq=127
Column V299: float64 -> float16, na_count=15, n_uniq=108
Column V3: float64 -> float16, na_count=455805, n_uniq=13
Column V30: float64 -> float16, na_count=88662, n_uniq=10
Column V300: float64 -> float16, na_count=7300, n_uniq=16
Column V301: float64 -> float16, na_count=7300, n_uniq=16
Column V302: float64 -> float16, na_count=15, n_uniq=18
Column V303: float64 -> float16, na_count=15, n_uniq=22
Column V304: float64 -> float16, na_count=15, n_uniq=19
Column V305: float64 -> float16, na_count=15, n_uniq=3
Column V306: float64 -> float32, na_count=15, n_uniq=25279

Column V307: float64 -> float32, na_count=15, n_uniq=54582
Column V308: float64 -> float32, na_count=15, n_uniq=35249
Column V309: float64 -> float32, na_count=15, n_uniq=6164
Column V31: float64 -> float16, na_count=88662, n_uniq=14
Column V310: float64 -> float32, na_count=15, n_uniq=26505
Column V311: float64 -> float32, na_count=15, n_uniq=4609
Column V312: float64 -> float32, na_count=15, n_uniq=11367
Column V313: float64 -> float32, na_count=7300, n_uniq=8055
Column V314: float64 -> float32, na_count=7300, n_uniq=16327
Column V315: float64 -> float32, na_count=7300, n_uniq=10174
Column V316: float64 -> float32, na_count=15, n_uniq=14985
Column V317: float64 -> float32, na_count=15, n_uniq=22593
Column V318: float64 -> float32, na_count=15, n_uniq=18608
Column V319: float64 -> float32, na_count=15, n_uniq=8173
Column V32: float64 -> float16, na_count=88662, n_uniq=24
Column V320: float64 -> float32, na_count=15, n_uniq=10834
Column V321: float64 -> float32, na_count=15, n_uniq=9385
Column V322: float64 -> float16, na_count=938449, n_uniq=882
Column V323: float64 -> float16, na_count=938449, n_uniq=1412
Column V324: float64 -> float16, na_count=938449, n_uniq=977
Column V325: float64 -> float16, na_count=938449, n_uniq=14
Column V326: float64 -> float16, na_count=938449, n_uniq=46
Column V327: float64 -> float16, na_count=938449, n_uniq=33
Column V328: float64 -> float16, na_count=938449, n_uniq=87
Column V329: float64 -> float16, na_count=938449, n_uniq=127
Column V33: float64 -> float16, na_count=88662, n_uniq=14
Column V330: float64 -> float16, na_count=938449, n_uniq=108
Column V331: float64 -> float32, na_count=938449, n_uniq=2093
Column V332: float64 -> float32, na_count=938449, n_uniq=3234
Column V333: float64 -> float32, na_count=938449, n_uniq=2492
Column V334: float64 -> float32, na_count=938449, n_uniq=221
Column V335: float64 -> float32, na_count=938449, n_uniq=1022
Column V336: float64 -> float32, na_count=938449, n_uniq=505
Column V337: float64 -> float32, na_count=938449, n_uniq=438
Column V338: float64 -> float32, na_count=938449, n_uniq=795
Column V339: float64 -> float32, na_count=938449, n_uniq=625
Column V34: float64 -> float16, na_count=88662, n_uniq=24
Column V35: float64 -> float16, na_count=245823, n_uniq=6
Column V36: float64 -> float16, na_count=245823, n_uniq=8
Column V37: float64 -> float16, na_count=245823, n_uniq=56
Column V38: float64 -> float16, na_count=245823, n_uniq=56
Column V39: float64 -> float16, na_count=245823, n_uniq=23
Column V4: float64 -> float16, na_count=455805, n_uniq=11
Column V40: float64 -> float16, na_count=245823, n_uniq=26
Column V41: float64 -> float16, na_count=245823, n_uniq=3
Column V42: float64 -> float16, na_count=245823, n_uniq=10
Column V43: float64 -> float16, na_count=245823, n_uniq=13
Column V44: float64 -> float16, na_count=245823, n_uniq=50
Column V45: float64 -> float16, na_count=245823, n_uniq=71
Column V46: float64 -> float16, na_count=245823, n_uniq=10
Column V47: float64 -> float16, na_count=245823, n_uniq=14
Column V48: float64 -> float16, na_count=245823, n_uniq=7
Column V49: float64 -> float16, na_count=245823, n_uniq=9
Column V5: float64 -> float16, na_count=455805, n_uniq=12
Column V50: float64 -> float16, na_count=245823, n_uniq=9
Column V51: float64 -> float16, na_count=245823, n_uniq=10
Column V52: float64 -> float16, na_count=245823, n_uniq=13
Column V53: float64 -> float16, na_count=89995, n_uniq=7
Column V54: float64 -> float16, na_count=89995, n_uniq=9
Column V55: float64 -> float16, na_count=89995, n_uniq=51
Column V56: float64 -> float16, na_count=89995, n_uniq=53
Column V57: float64 -> float16, na_count=89995, n_uniq=8
Column V58: float64 -> float16, na_count=89995, n_uniq=12
Column V59: float64 -> float16, na_count=89995, n_uniq=18
Column V6: float64 -> float16, na_count=455805, n_uniq=15
Column V60: float64 -> float16, na_count=89995, n_uniq=19
Column V61: float64 -> float16, na_count=89995, n_uniq=8
Column V62: float64 -> float16, na_count=89995, n_uniq=12
Column V63: float64 -> float16, na_count=89995, n_uniq=10
Column V64: float64 -> float16, na_count=89995, n_uniq=12
Column V65: float64 -> float16, na_count=89995, n_uniq=3
Column V66: float64 -> float16, na_count=89995, n_uniq=10
Column V67: float64 -> float16, na_count=89995, n_uniq=12
Column V68: float64 -> float16, na_count=89995, n_uniq=9
Column V69: float64 -> float16, na_count=89995, n_uniq=7
Column V7: float64 -> float16, na_count=455805, n_uniq=15
Column V70: float64 -> float16, na_count=89995, n_uniq=10
Column V71: float64 -> float16, na_count=89995, n_uniq=8
Column V72: float64 -> float16, na_count=89995, n_uniq=12
Column V73: float64 -> float16, na_count=89995, n_uniq=10
Column V74: float64 -> float16, na_count=89995, n_uniq=12
Column V75: float64 -> float16, na_count=101245, n_uniq=7
Column V76: float64 -> float16, na_count=101245, n_uniq=9
Column V77: float64 -> float16, na_count=101245, n_uniq=82
Column V78: float64 -> float16, na_count=101245, n_uniq=82
Column V79: float64 -> float16, na_count=101245, n_uniq=9
Column V8: float64 -> float16, na_count=455805, n_uniq=13
Column V80: float64 -> float16, na_count=101245, n_uniq=21
Column V81: float64 -> float16, na_count=101245, n_uniq=21
Column V82: float64 -> float16, na_count=101245, n_uniq=9
Column V83: float64 -> float16, na_count=101245, n_uniq=9
Column V84: float64 -> float16, na_count=101245, n_uniq=12
Column V85: float64 -> float16, na_count=101245, n_uniq=12
Column V86: float64 -> float16, na_count=101245, n_uniq=82
Column V87: float64 -> float16, na_count=101245, n_uniq=82
Column V88: float64 -> float16, na_count=101245, n_uniq=3
Column V89: float64 -> float16, na_count=101245, n_uniq=9
Column V9: float64 -> float16, na_count=455805, n_uniq=13
Column V90: float64 -> float16, na_count=101245, n_uniq=7
Column V91: float64 -> float16, na_count=101245, n_uniq=10
Column V92: float64 -> float16, na_count=101245, n_uniq=9
Column V93: float64 -> float16, na_count=101245, n_uniq=9
Column V94: float64 -> float16, na_count=101245, n_uniq=4
Column V95: float64 -> float16, na_count=314, n_uniq=882
Column V96: float64 -> float16, na_count=314, n_uniq=1411
Column V97: float64 -> float16, na_count=314, n_uniq=977
Column V98: float64 -> float16, na_count=314, n_uniq=14
Column V99: float64 -> float16, na_count=314, n_uniq=90
Column addr1: float64 -> float16, na_count=131315, n_uniq=442
Column addr2: float64 -> float16, na_count=131315, n_uniq=94
Column card1: int64 -> int16, na_count=0, n_uniq=17091
Column card2: float64 -> float16, na_count=17587, n_uniq=502
Column card3: float64 -> float16, na_count=4567, n_uniq=134
Column card4: object -> object, na_count=4663, n_uniq=5
Column card5: float64 -> float16, na_count=8806, n_uniq=139
Column card6: object -> object, na_count=4578, n_uniq=5
Column dist1: float64 -> float32, na_count=643488, n_uniq=2739
Column dist2: float64 -> float32, na_count=1023168, n_uniq=2349
Column id_01: float64 -> float16, na_count=811091, n_uniq=90
Column id_02: float64 -> float32, na_count=819383, n_uniq=198052
Column id_03: float64 -> float16, na_count=964426, n_uniq=26
Column id_04: float64 -> float16, na_count=964426, n_uniq=17
Column id_05: float64 -> float16, na_count=825616, n_uniq=98
Column id_06: float64 -> float16, na_count=825616, n_uniq=102
Column id_07: float64 -> float16, na_count=1087017, n_uniq=93
Column id_08: float64 -> float16, na_count=1087017, n_uniq=98
Column id_09: float64 -> float16, na_count=947967, n_uniq=52
Column id_10: float64 -> float16, na_count=947967, n_uniq=68
Column id_11: float64 -> float32, na_count=819475, n_uniq=413
Column id_12: object -> object, na_count=811091, n_uniq=3
Column id_13: float64 -> float16, na_count=839625, n_uniq=56
Column id_14: float64 -> float16, na_count=945830, n_uniq=29
Column id_15: object -> object, na_count=819269, n_uniq=4
Column id_16: object -> object, na_count=842144, n_uniq=3
Column id_17: float64 -> float16, na_count=821896, n_uniq=128
Column id_18: float64 -> float16, na_count=1001243, n_uniq=20
Column id_19: float64 -> float16, na_count=822007, n_uniq=569
Column id_20: float64 -> float16, na_count=822337, n_uniq=548
Column id_21: float64 -> float16, na_count=1087013, n_uniq=735

Column id_22: float64 -> float16, na_count=1087000, n_uniq=36
Column id_23: object -> object, na_count=1087000, n_uniq=4
Column id_24: float64 -> float16, na_count=1087744, n_uniq=18
Column id_25: float64 -> float16, na_count=1087060, n_uniq=441
Column id_26: float64 -> float16, na_count=1087021, n_uniq=116
Column id_27: object -> object, na_count=1087000, n_uniq=3
Column id_28: object -> object, na_count=819475, n_uniq=3
Column id_29: object -> object, na_count=819475, n_uniq=3
Column id_30: object -> object, na_count=949007, n_uniq=88
Column id_31: object -> object, na_count=820324, n_uniq=173
Column id_32: float64 -> float16, na_count=948974, n_uniq=7
Column id_33: object -> object, na_count=953271, n_uniq=462
Column id_34: object -> object, na_count=947251, n_uniq=5
Column id_35: object -> object, na_count=819269, n_uniq=3
Column id_36: object -> object, na_count=819269, n_uniq=3
Column id_37: object -> object, na_count=819269, n_uniq=3
Column id_38: object -> object, na_count=819269, n_uniq=3
Column isFraud: int64 -> int8, na_count=0, n_uniq=2
Mem. usage decreased from 4819.73 Mb to 2465.33 Mb (48.8% reduction)

In [16]:
train = train_test[:590540]
test = train_test[590540:].drop('isFraud', axis=1)

del train_test
gc.collect()

train.shape, test.shape

((590540, 434), (506691, 433))

## Filling Cards Nans

So the whole idea behind the function count_unqies is to find out for each value card1 how many values does card2,card3,card4, card5 and card5 have in common. For example run the folowing the code seperately and 

unique_train = []
unique_test = []
for value in train['card1'].unique():
    unique_train.append(train['card2'][train['card1'] == value].value_counts().shape[0])
    
for value in test['card1'].unique():
    unique_test.append(test['card2'][test['card1'] == value].value_counts().shape[0])
    
pair_values_train = pd.Series(data=unique_train, index=train['card1'].unique())
pair_values_test = pd.Series(data=unique_test, index=test['card1'].unique())
pd.concat([pair_values_train.value_counts(), pair_values_test.value_counts()], axis=1).rename(columns={0: 'train', 1: 'test'})

pair_values_train[pair_values_train.values == 2]
train['card2'][train['card1'] == 2581].value_counts()

We could see the two distinct values for the value of card1 = 2581 in card2.

https://www.kaggle.com/grazder/filling-card-nans

In [63]:
def count_uniques(train, test, pair):
    unique_train = []
    unique_test = []

    for value in train[pair[0]].unique():
        unique_train.append(train[pair[1]][train[pair[0]] == value].value_counts().shape[0])

    for value in test[pair[0]].unique():
        unique_test.append(test[pair[1]][test[pair[0]] == value].value_counts().shape[0])

    pair_values_train = pd.Series(data=unique_train, index=train[pair[0]].unique())
    pair_values_test = pd.Series(data=unique_test, index=test[pair[0]].unique())
    
    return pair_values_train, pair_values_test

The fill_card_nans get the pair_values_train and pair_values_test from the count_uniques and then it fills all the values of card2,card3..card6 with each value that corresponds in card1. Note card1 values that have only a single occurence are taken here I guess. Becuase the for loop is taking into account values that have pair_values_train == 1. I am not sure about the occurences for if a card1 value has say 2-3 distinct values for card2,card3...card6

However we can see below that in the first part of the function we can see the amount isNan's in training and testing data in the range of 8933 and 8654. However it has been bought down to 4780, 5511, this corresponds to the idea of those unique values in the case of 2 occurences and 3 occurences

In [102]:
def fill_card_nans(train, test, pair_values_train, pair_values_test, pair):
    print(f'In train{[pair[1]]} there are {train[pair[1]].isna().sum()} NaNs' )
    print(f'In test{[pair[1]]} there are {test[pair[1]].isna().sum()} NaNs' )

    print('Filling train...')
    
    for value in pair_values_train[pair_values_train == 1].index:
        train[pair[1]][train[pair[0]] == value] = train[pair[1]][train[pair[0]] == value].value_counts().index[0]
        
    print('Filling test...')

    for value in pair_values_test[pair_values_test == 1].index:
        test[pair[1]][test[pair[0]] == value] = test[pair[1]][test[pair[0]] == value].value_counts().index[0]
        
    print(f'In train{[pair[1]]} there are {train[pair[1]].isna().sum()} NaNs' )
    print(f'In test{[pair[1]]} there are {test[pair[1]].isna().sum()} NaNs' )
    
    return train, test

The below function nans_distribtution gives the number of nan's values for each card2,card3...card6 returns the distrbution 
of the number of Nan's in 0,1 & 2 categoires.

In [103]:
def nans_distribution(train, test, unique_train, unique_test, pair):
    train_nans_per_category = []
    test_nans_per_category = []

    for value in unique_train.unique():
        train_nans_per_category.append(train[train[pair[0]].isin(list(unique_train[unique_train == value].index))][pair[1]].isna().sum())

    for value in unique_test.unique():
        test_nans_per_category.append(test[test[pair[0]].isin(list(unique_test[unique_test == value].index))][pair[1]].isna().sum())

    pair_values_train = pd.Series(data=train_nans_per_category, index=unique_train.unique())
    pair_values_test = pd.Series(data=test_nans_per_category, index=unique_test.unique())
    
    return pair_values_train, pair_values_test

In [104]:
%%time
for card in ['card2','card3','card4','card5','card6']:
    unique_values_train, unique_values_test = count_uniques(train, test, ('card1', card))
    train, test = fill_card_nans(train, test, unique_values_train, unique_values_test, ('card1', card))

In train['card2'] there are 8933 NaNs
In test['card2'] there are 8654 NaNs
Filling train...
Filling test...
In train['card2'] there are 4780 NaNs
In test['card2'] there are 5511 NaNs
In train['card3'] there are 1565 NaNs
In test['card3'] there are 3002 NaNs
Filling train...
Filling test...
In train['card3'] there are 17 NaNs
In test['card3'] there are 48 NaNs
In train['card4'] there are 1577 NaNs
In test['card4'] there are 3086 NaNs
Filling train...
Filling test...
In train['card4'] there are 27 NaNs
In test['card4'] there are 130 NaNs
In train['card5'] there are 4259 NaNs
In test['card5'] there are 4547 NaNs
Filling train...
Filling test...
In train['card5'] there are 939 NaNs
In test['card5'] there are 1449 NaNs
In train['card6'] there are 1571 NaNs
In test['card6'] there are 3007 NaNs
Filling train...
Filling test...
In train['card6'] there are 26 NaNs
In test['card6'] there are 54 NaNs
Wall time: 53min 8s

## Finding UID

In [105]:
train[cols].head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,2987000,0,86400,68.5,W,13926,327.0,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN,14.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,1,0,2,0,1,1
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,0,0,1,0,1,1
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,1,1,0,0,0,1,0,0,1,0,1,0,1,1
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,NaN,yahoo.com,NaN,112.0,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,2,5,0,0,0,4,0,0,1,0,1,0,25,1
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1

D1 column holds the cumulative number of days since the day the transanction started. Therefore subtracting that from the starting day gives the number of days since the card has been operational

In [112]:
for df in [train,test]:
    df['DaysFromStart'] = np.floor(df['TransactionDT']/(60*60*24)) - 1
    df['D1-DaysFromStart'] = df['D1'] - df['DaysFromStart']
cols = cols + ['DaysFromStart','D1-DaysFromStart']
train[cols].head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,DaysFromStart,D1-DaysFromStart
0,2987000,0,86400,68.5,W,13926,327.0,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN,14.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,1,0,2,0,1,1,0.0,14.0
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0.0,0.0
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0.0,0.0
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,NaN,yahoo.com,NaN,112.0,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,2,5,0,0,0,4,0,0,1,0,1,0,25,1,0.0,112.0
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0.0,0.0

Next finding the Unique Idnetification is the distinguishing step that made the difference in the competition. It was found  that certain columns clubbed together could help indentify unique transaction ID's.

In [113]:
for df in [train,test]:
    df['uid'] = df['ProductCD'].astype(str) + '_' + df['card1'].astype(str) + '_' + df['card2'].astype(str)
    df['uid'] = df['uid'] + '_' + df['card3'].astype(str) + '_' + df['card4'].astype(str)
    df['uid'] = df['uid'] + '_' + df['card5'].astype(str) + '_' + df['card6'].astype(str)
    df['uid'] = df['uid'] + '_' + df['addr1'].astype(str) + '_' + df['D1-DaysFromStart'].astype(str)
cols = ['uid'] + cols
train[cols].head()

,uid,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,DaysFromStart,D1-DaysFromStart
0,W_13926_327.0_150.0_discover_142.0_credit_315.0_14.0,2987000,0,86400,68.5,W,13926,327.0,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN,14.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,1,0,2,0,1,1,0.0,14.0
1,W_2755_404.0_150.0_mastercard_102.0_credit_325.0_0.0,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0.0,0.0
2,W_4663_490.0_150.0_visa_166.0_debit_330.0_0.0,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0.0,0.0
3,W_18132_567.0_150.0_mastercard_117.0_debit_476.0_112.0,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,87.0,NaN,NaN,yahoo.com,NaN,112.0,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,2,5,0,0,0,4,0,0,1,0,1,0,25,1,0.0,112.0
4,H_4497_514.0_150.0_mastercard_102.0_credit_420.0_0.0,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,87.0,NaN,NaN,gmail.com,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0.0,0.0

In [114]:
by = ['uid']
grouped = train.groupby(by, as_index=False)['isFraud'].agg(['count','sum']).reset_index()
grouped.sort_values(by).head(10)

                                                    uid  count  sum
0        C_10003_555.0_128.0_visa_226.0_debit_nan_-89.0      5    0
1   C_1000_555.0_185.0_mastercard_224.0_debit_nan_-65.0      1    0
2  C_10022_555.0_117.0_mastercard_224.0_debit_nan_-34.0      1    0
3       C_10023_111.0_150.0_visa_226.0_debit_nan_-102.0      1    0
4       C_10023_111.0_150.0_visa_226.0_debit_nan_-114.0      1    0
5       C_10023_111.0_150.0_visa_226.0_debit_nan_-145.0      2    0
6       C_10023_111.0_150.0_visa_226.0_debit_nan_-176.0      1    0
7        C_10023_111.0_150.0_visa_226.0_debit_nan_-72.0      1    0
8      C_10024_321.0_150.0_visa_144.0_credit_nan_-136.0      3    3
9      C_10024_321.0_150.0_visa_144.0_credit_nan_-160.0      1    0

In the above table we can see that the UID number 8 has 3 counts and 3 sum. The sum of 3 shows that all the transactions from that account has been fradulent. This is a pretty amazing find. I am pretty sure this is a good way to indentify rows that have been fraudulent. The whole idea behind the competition is to find fradulent credit cards

In [115]:
grouped.describe()

               count            sum
count  231339.000000  231339.000000
mean        2.552704       0.089319
std         5.207512       0.906427
min         1.000000       0.000000
25%         1.000000       0.000000
50%         1.000000       0.000000
75%         2.000000       0.000000
max      1414.000000      90.000000

In [116]:
train = train.drop(['DaysFromStart','D1-DaysFromStart'], axis=1)
test = test.drop(['DaysFromStart','D1-DaysFromStart'], axis=1)

In [118]:
import pickle
train.to_pickle('I:/ML Datasets/IEEE Fradulent/train_reduced.pkl')
test.to_pickle('I:/ML Datasets/IEEE Fradulent/test_reduced.pkl')